{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/sb_techstation/header.png",
      "fileBody": "/interface/scripted/sb_techstation/body.png",
      "fileFooter": "/interface/scripted/sb_techstation/footer.png"
    },

    "windowtitle": {
      "type": "title",
      "title": "Tech Station",
      "subtitle": "Equip and unlock new techs",
      "icon": {
        "type": "image",
        "file": "/interface/sb_crafting/craftingicons.png:tech",
        "zlevel": -1
      }
    },

    "techScrollArea": {
      "type": "scrollArea",
      "rect": [247, 67, 386, 155],
      "children": {
        "techList": {
          "type": "list",
          "callback": "techSelected",
          "schema": {
            "hoverBG": "/interface/scripted/sb_techstation/craftablebackground.png",
            "selectedBG": "/interface/scripted/sb_techstation/craftableselected.png",
            "unselectedBG": "/interface/scripted/sb_techstation/craftablebackground.png",
            "disabledBG": "/interface/scripted/sb_techstation/craftablebackground.png",
            "spacing": [0, 1],
            "memberSize": [133, 20],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/sb_techstation/craftablebackground.png",
                "position": [1, 0],
                "zlevel": -1
              },
              "techName": {
                "type": "label",
                "position": [22, 10],
                "vAnchor": "mid",
                "hAnchor": "left",
                "wrapWidth": 104,
                "width": 104,
                "value": "Replace Me"
              },
              "techIcon": {
                "type": "image",
                "position": [11, 10],
                "centered": true,
                "scissoring": false,
                "size": [16, 16],
                "callback": "null"
              }
            }
          }
        }
      }
    },

    "lblDescription": {
      "type": "label",
      "position": [112, 167],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 122,
      "color": [174, 225, 238, 255],
      "value": "Select a slot to modify"
    },
    "imgSuit": {
      "type": "image",
      "position": [10, 78]
    },
    "staticImage": {
      "type": "image",
      "file": "/ai/staticapex.png:1",
      "zLevel": -2,
      "position": [7, 75]
    },
    "scanlineAnimation": {
      "type": "image",
      "file": "/interface/scripted/sb_techstation/scanlines.png:0",
      "zLevel": 5,
      "position": [7, 75]
    },

    "techSlotGroup": {
      "type": "radioGroup",
      "toggleMode": false,
      "buttons": [{
          "selected": true,
          "baseImage": "/interface/scripted/sb_techstation/tabbase.png",
          "hoverImage": "/interface/scripted/sb_techstation/tabover.png",
          "baseImageChecked": "/interface/scripted/sb_techstation/tabselected.png",
          "hoverImageChecked": "/interface/scripted/sb_techstation/tabselectedover.png",
          "pressedOffset": [0, 0],
          "position": [247, 160],
          "data": "Head"
        }, {
          "baseImage": "/interface/scripted/sb_techstation/tabbase.png",
          "hoverImage": "/interface/scripted/sb_techstation/tabover.png",
          "baseImageChecked": "/interface/scripted/sb_techstation/tabselected.png",
          "hoverImageChecked": "/interface/scripted/sb_techstation/tabselectedover.png",
          "pressedOffset": [0, 0],
          "position": [281, 160],
          "data": "Body"
        }, {
          "baseImage": "/interface/scripted/sb_techstation/tabbase.png",
          "hoverImage": "/interface/scripted/sb_techstation/tabover.png",
          "baseImageChecked": "/interface/scripted/sb_techstation/tabselected.png",
          "hoverImageChecked": "/interface/scripted/sb_techstation/tabselectedover.png",
          "pressedOffset": [0, 0],
          "position": [315, 160],
          "data": "Legs"
        }, {
          "baseImage": "/interface/scripted/sb_techstation/tabbase.png",
          "hoverImage": "/interface/scripted/sb_techstation/tabover.png",
          "baseImageChecked": "/interface/scripted/sb_techstation/tabselected.png",
          "hoverImageChecked": "/interface/scripted/sb_techstation/tabselectedover.png",
          "pressedOffset": [0, 0],
          "position": [349, 160],
          "data": "Suit"
        }
      ]
    },

    "btnUnequipHead": {
      "type": "button",
      "base": "/interface/scripted/sb_techstation/unequip.png:normal",
      "hover": "/interface/scripted/sb_techstation/unequip.png:highlight",
      "pressed": "/interface/scripted/sb_techstation/unequip.png:grayed",
      //    "disabledImage" : "/interface/scripted/sb_techstation/unequip.png:grayed?brightness=-30",
      "pressedOffset": [0, 0],
      "position": [248, 155],
      "callback": "unequip",
      "data": "head"
    },
    "btnUnequipBody": {
      "type": "button",
      "base": "/interface/scripted/sb_techstation/unequip.png:normal",
      "hover": "/interface/scripted/sb_techstation/unequip.png:highlight",
      "pressed": "/interface/scripted/sb_techstation/unequip.png:grayed",
      "pressedOffset": [0, 0],
      "position": [282, 155],
      "callback": "unequip",
      "data": "body"
    },
    "btnUnequipLegs": {
      "type": "button",
      "base": "/interface/scripted/sb_techstation/unequip.png:normal",
      "hover": "/interface/scripted/sb_techstation/unequip.png:highlight",
      "pressed": "/interface/scripted/sb_techstation/unequip.png:grayed",
      "pressedOffset": [0, 0],
      "position": [316, 155],
      "callback": "unequip",
      "data": "legs"
    },
    "btnUnequipSuit": {
      "type": "button",
      "base": "/interface/scripted/sb_techstation/unequip.png:normal",
      "hover": "/interface/scripted/sb_techstation/unequip.png:highlight",
      "pressed": "/interface/scripted/sb_techstation/unequip.png:grayed",
      "pressedOffset": [0, 0],
      "position": [350, 155],
      "callback": "unequip",
      "data": "suit"
    },
    "lblTechSlotHead": {
      "type": "label",
      "position": [260, 165],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "^shadow;HEAD",
      "mouseTransparent": true
    },
    "lblTechSlotBody": {
      "type": "label",
      "position": [294, 165],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "^shadow;BODY",
      "mouseTransparent": true
    },
    "lblTechSlotLeg": {
      "type": "label",
      "position": [328, 165],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "^shadow;LEG",
      "mouseTransparent": true
    },
    "lblTechSlotSuit": {
      "type": "label",
      "position": [362, 165],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "^shadow;SUIT",
      "mouseTransparent": true
    },
    "techIconHead": {
      "type": "image",
      "position": [81, 153],
      "centered": true,
      "mouseTransparent": true
    },
    "techIconBody": {
      "type": "image",
      "position": [81, 125],
      "centered": true,
      "mouseTransparent": true
    },
    "techIconLegs": {
      "type": "image",
      "position": [81, 97],
      "centered": true,
      "mouseTransparent": true
    },
    "techIconSuit": {
      "type": "image",
      "position": [20, 88], //[81, 69],
      "visible": false,
      "centered": true,
      "mouseTransparent": true
    },
    "imgChipsBackground": {
      "type": "image",
      "position": [42, 21]
    },
    "lblChipsCount": {
      "type": "label",
      "zlevel": 1,
      "color": [0, 187, 0],
      "position": [324, 48],
      "value": "",
      "mouseTransparent": true
    },
    "btnEnable": {
      "type": "button",
      "base": "",
      "hover": "",
      "pressed": "",
      "disabledImage": "",
      "pressedOffset": [0, 0],
      "position": [252, 43],
      "callback": "doEnable"
    },
    "letmebind": {
      "type": "button",
      "base": "/interface/scripted/sb_techstation/letmebind.png:2",
      "hover": "/interface/scripted/sb_techstation/letmebind.png:1",
      "pressed": "/interface/scripted/sb_techstation/letmebind.png:0",
      "disabledImage": "/interface/scripted/sb_techstation/letmebind.png:0?brightness=-30",
      "pressedOffset": [0, 0],
      "position": [11, 53],
      "callback": "openPane",
      "data": "/interface/scripted/sb_techselection/techselection.config"
    },
    /*
    "letme3d" : {
    "type" : "button",
    "base" : "/interface/scripted/sb_techstation/letme3dup.png",
    "hover" : "/interface/scripted/sb_techstation/letme3dover.png",
    "pressed" : "/interface/scripted/sb_techstation/letme3ddown.png",
    "disabledImage" : "/interface/scripted/sb_techstation/letme3ddown.png?brightness=-30",
    "pressedOffset" : [0, 0],
    "position" : [11, 38],
    "callback" : "openPane",
    "data" : "/interface/scripted/sb_3dprinter/3dprinter.config"
    },*/
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [371, 183]
    }
  },

  "scriptWidgetCallbacks": [
    "unequip",
    "doEnable",
    "techSelected",
    "slotSelected",
    "techSlotGroup",
    "openPane"
  ],

  "scripts": ["/interface/scripted/sb_techstation/techupgradegui.lua"],
  "scriptDelta": 4,

  "buttonImages": [{
      "base": "/interface/scripted/sb_techstation/button.png:0",
      "hover": "/interface/scripted/sb_techstation/button.png:3",
      "pressed": "/interface/scripted/sb_techstation/button.png:6",
      "disabledImage": "/interface/scripted/sb_techstation/button.png:0?brightness=-30"
    }, {
      "base": "/interface/scripted/sb_techstation/button.png:1",
      "hover": "/interface/scripted/sb_techstation/button.png:4",
      "pressed": "/interface/scripted/sb_techstation/button.png:7",
      "disabledImage": "/interface/scripted/sb_techstation/button.png:1?brightness=-30"
    }, {
      "base": "/interface/scripted/sb_techstation/button.png:2",
      "hover": "/interface/scripted/sb_techstation/button.png:5",
      "pressed": "/interface/scripted/sb_techstation/button.png:8",
      "disabledImage": "/interface/scripted/sb_techstation/button.png:2?brightness=-30"
    }
  ],
  "selectTechDescription": "Here you can augment your body with Tech Drives, Implants, and Nanosuits.\n^orange;Tech Drives^green; and ^orange;Implants^green; will give you unique abilities whilst ^orange;Nanosuits^green; will allow you to survive in otherwise deadly environments.",

  "techLockedIcon": "/interface/scripted/sb_techstation/upgradelocked.png",
  "suitImagePath": "/interface/ai/suits/%s-%s.png",
  "defaultCost": 5, //TODO: grab from vanilla config before using this
  "driveCost": 1,

  "techValues": {
    "energyUsage": "Energy Usage: %s",
    "energyUsageRate": "Energy Usage Rate: %s",
    "energyUsagePerSecond": "Energy Usage Per Second: %s",

    "energyCost": "Energy Cost: %s",
    "energyCostRate": "Energy Cost Rate: %s",
    "energyCostPerSecond": "Energy Cost Per Second: %s",

    "regenRate": "Regeneration Rate: %s",
    "energyCostPerBomb": "Energy Cost (Bomb): %s",
    "energyCostPerSmash": "Energy Cost (Smash): %s",

    "shieldDuration": "Shield Duration: %s",
    "cooldown": "Cooldown: %s",
    "minDamage": "Minimum Damage: %s",

    "statIncrease": "Stat Increase: %s",
    "rechargeTime": "Recharge Time: %s"
  }
}
