//Indices are strings for easier patching
{
  "1": ["sb_dash", "sb_doublejump", "sb_bounce"],
  "2": ["sb_groundsmash", "sb_rocketjump", "sb_boat", "sb_miningdrill", "sb_health", "sb_energy", "sb_protection"],
  "3": ["sb_morphball", "sb_lightrig", "sb_hover", "sb_speed", "sb_jump", "thea-acrobaticdodge", "thea-acrobaticjump", "thea-hoverjump", "sb_absorption", "sb_spiked", "sb_magnet"],
  "4": ["sb_randblink", "sb_rocketboots", "sb_gravitybubble", "sb_glow", "sb_reducefalldamage", "sb_energyregen", "sb_humanjeep", "sb_extradrops", "sb_berserk"],
  "5": ["sb_particlethrust", "sb_regeneration", "sb_gravity", "sb_vamp", "sb_explosiveprotection", "sb_grit"],
  "6": ["sb_butterflyboost", "sb_bubbleboost", "sb_ftlboost", "sb_balldash", "sb_enhancedhealing"]
  //"sb_humancar", "sb_hoverbike", "sb_glitchmech", "sb_apexmech", "sb_humanmech", "sb_hylotlmech"
}
