{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Piston ", "Tidal Wave ", "Driveshaft ", "Splinter ", "Deckard's ", "Recommissioned ", "Powerful ", "Above Average ", "Very Good ", "Analysis ", "Android " ],
      [ { "mode" : "alts" }, "Blocker", "Deflector", "Guard", "Shield", "Buckler", "Cover", "Protector", "Kill-stopper", "Arrowguard", "Dinnertray", "Smasheriser", "Coverer", "Annoyance", "Bladeblocker", "Hammerhalter", "Axeaffector", "Spearstopper", "Daggerdeflector" ]
    ]
  ]
}
