{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Shroom ", "Mushroom ", "Fungus ", "Button ", "Toadstool ", "Trippy ", "Magic " ],
      [ { "mode" : "alts" }, "Blocker", "Deflector", "Guard", "Shield", "Buckler", "Cover", "Protector", "Kill-stopper", "Arrowguard", "Dinnertray", "Smasheriser", "Coverer", "Annoyance", "Bladeblocker", "Hammerhalter", "Axeaffector", "Spearstopper", "Daggerdeflector" ]
    ]
  ]
}
