{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Glorious ", "God ", "Reaper ", "Tornado ", "Dudebro ", "Wriggle ", "Fury ", "War ", "Existential Terror ", "Squish ", "Dice ", "Leviathan ", "Jaw ", "Megahack ", "Megawhack ", "Skeleton ", "Cranium ", "Ear ", "Nose ", "Ape ", "Plant ", "Bird ", "Fish ", "Robot ", "Meat ", "Brodude ", "Alien ", "Granite ", "Wood ", "Supernova ", "Space ", "Planet ", "Stag ", "Dawn ", "Dusk " ],
      [ { "mode" : "alts" }, "Blocker", "Deflector", "Guard", "Shield", "Buckler", "Cover", "Protector", "Kill-stopper", "Arrowguard", "Dinnertray", "Smasheriser", "Coverer", "Annoyance", "Bladeblocker", "Hammerhalter", "Axeaffector", "Spearstopper", "Daggerdeflector" ]
    ]
  ]
}
