{
  "sb_doctormerchant": [
    [0, [
      {"item": {"name": "redstim"}},
      {"item": {"name": "bandage"}},
      {"item": {"name": "salve"}}
    ]],
    [3.9, [
      {"item": {"name": "redstim"}},
      {"item": {"name": "nanowrap"}},
      {"item": {"name": "medkit"}},
      {"item": {"name": "sb_gauze"}}
    ]]
  ],

  "sb_toolmerchant": [
    [0, [
      {"item": {"name": "climbingrope"}},
      {"item": {"name": "bomb"}},
      {"item": {"name": "flare"}},
      {"item": {"name": "mininglantern"}},
      {"item": {"name": "sb_stonepickaxe"}},
      {"item": {"name": "copperpickaxe"}, "rarity": 0.5},
      {"item": {"name": "silverpickaxe"}, "rarity": 0.3},
      {"item": {"name": "sb_copper_repair"}, "rarity": 0.5},
      {"item": {"name": "sb_silver_repair"}, "rarity": 0.3},

      {"item": {"name": "parasol"}, "rarity": 0.3},
      {"item": {"name": "sb_watch"}, "rarity": 0.3},
      {"item": {"name": "sb_hawkeyes"}, "rarity": 0.3},
      {"item": {"name": "sb_light2energy"}, "rarity": 0.3},
      {"item": {"name": "parachutepackback"}, "rarity": 0.3},
      {"item": {"name": "flashlight"}, "rarity": 0.3},
      {"item": {"name": "broom"}, "rarity": 0.3},
      {"item": {"name": "sb_stoneaxe"}, "rarity": 0.3},
      {"item": {"name": "sb_stonehoe"}, "rarity": 0.3}
    ]],
    [1.9, [
      {"item": {"name": "liquidoil"}},
      {"item": {"name": "climbingrope"}},
      {"item": {"name": "bomb"}},
      {"item": {"name": "flare"}},
      {"item": {"name": "mininglantern"}},
      {"item": {"name": "sb_stonepickaxe"}},
      {"item": {"name": "copperpickaxe"}, "rarity": 0.5},
      {"item": {"name": "silverpickaxe"}, "rarity": 0.3},
      {"item": {"name": "sb_copper_repair"}, "rarity": 0.5},
      {"item": {"name": "sb_silver_repair"}, "rarity": 0.3},

      {"item": {"name": "parasol"}, "rarity": 0.3},
      {"item": {"name": "sb_watch"}, "rarity": 0.3},
      {"item": {"name": "sb_hawkeyes"}, "rarity": 0.3},
      {"item": {"name": "sb_light2energy"}, "rarity": 0.3},
      {"item": {"name": "parachutepackback"}, "rarity": 0.3},
      {"item": {"name": "flashlight"}, "rarity": 0.3},
      {"item": {"name": "broom"}, "rarity": 0.3},
      {"item": {"name": "sb_ironaxe"}, "rarity": 0.3},
      {"item": {"name": "hoe"}, "rarity": 0.3}
    ]],
    [3.9, [
      {"item": {"name": "liquidoil"}},
      {"item": {"name": "climbingrope"}},
      {"item": {"name": "bomb"}},
      {"item": {"name": "flare"}},
      {"item": {"name": "mininglantern"}},
      {"item": {"name": "sb_handdrill"}},
      {"item": {"name": "copperdrill"}, "rarity": 0.5},
      {"item": {"name": "silverdrill"}, "rarity": 0.3},
      {"item": {"name": "sb_titanium_repair"}, "rarity": 0.5},
      {"item": {"name": "sb_diamond_repair"}, "rarity": 0.3},

      {"item": {"name": "parasol"}, "rarity": 0.3},
      {"item": {"name": "sb_watch"}, "rarity": 0.3},
      {"item": {"name": "sb_hawkeyes"}, "rarity": 0.3},
      {"item": {"name": "sb_light2energy"}, "rarity": 0.3},
      {"item": {"name": "parachutepackback"}, "rarity": 0.3},
      {"item": {"name": "flashlight"}, "rarity": 0.3},
      {"item": {"name": "broom"}, "rarity": 0.3},
      {"item": {"name": "sb_chainsaw"}, "rarity": 0.3},
      {"item": {"name": "hoe"}, "rarity": 0.3}
    ]]
  ],

  "sb_stimmerchant": [
    [0, [
      {"item": {"name": "redstim"}},
      {"item": {"name": "yellowstim"}}
    ]],
    [3.9, [
      {"item": {"name": "redstim"}},
      {"item": {"name": "greenstim"}},
      {"item": {"name": "bluestim"}},
      {"item": {"name": "orangestim"}},
      {"item": {"name": "yellowstim"}},
      {"item": {"name": "sb_greystim"}}
    ]]
  ],

  "sb_cupidmerchant": [
    [0, [
      {"item": {"name": "cupidshead"}},
      {"item": {"name": "cupidschest"}},
      {"item": {"name": "cupidslegs"}},
      {"item": {"name": "cupidsback"}},

      {"item": {"name": "heartforge"}},
      {"item": {"name": "sb_wrappingpaper"}},
      {"item": {"name": "sb_wrappingtable"}},

      {"item": {"name": "whitedye"}},
      {"item": {"name": "pinkdye"}},
      {"item": {"name": "reddye"}},

      {"item": {"name": "valentinechocolates"}},
      {"item": {"name": "sb_wineglass"}},
      {"item": {"name": "sb_flowerbouquet"}},
      {"item": {"name": "climbingrope"}, "rarity": 0.001},
 
      {"item": {"name": "flowerbasket1"}},
      {"item": {"name": "flowerbasket2"}},
      {"item": {"name": "flowerbed1"}},
      {"item": {"name": "flowerbed2"}},
      {"item": {"name": "flowerstatue"}},
      {"item": {"name": "giantflowerdoor"}},
      {"item": {"name": "wflowerpot"}},
      {"item": {"name": "fireflowerpot"}},
      {"item": {"name": "medievalfireplace"}}
    ]]
  ]
}