{
  "sb_doctormerchant" : [
    [0, [
      {"item" : {"name" : "redstim"}},
      {"item" : {"name" : "bandage"}},
      {"item" : {"name" : "salve"}}
    ]],
    [3.9, [
      {"item" : {"name" : "redstim"}},
      {"item" : {"name" : "nanowrap"}},
      {"item" : {"name" : "medkit"}},
      {"item" : {"name" : "sb_gauze"}}
    ]]
  ],

  "sb_toolmerchant" : [
    [0, [
      {"item" : {"name" : "climbingrope"}},
      {"item" : {"name" : "bomb"}},
      {"item" : {"name" : "flare"}},
      {"item" : {"name" : "mininglantern"}},
      {"item" : {"name" : "sb_stonepickaxe"}},
      {"item" : {"name" : "copperpickaxe"}, "rarity" : 0.5},
      {"item" : {"name" : "silverpickaxe"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_copper_repair"}, "rarity" : 0.5},
      {"item" : {"name" : "sb_silver_repair"}, "rarity" : 0.3},

      {"item" : {"name" : "parasol"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_watch"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_hawkeyes"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_light2energy"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_parachutepack"}, "rarity" : 0.3},
      {"item" : {"name" : "parachutepackback"}, "rarity" : 0.3},
      {"item" : {"name" : "flashlight"}, "rarity" : 0.3},
      {"item" : {"name" : "broom"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_stoneaxe"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_stonehoe"}, "rarity" : 0.3}
    ]],
    [1.9, [
      {"item" : {"name" : "liquidoil"}},
      {"item" : {"name" : "climbingrope"}},
      {"item" : {"name" : "bomb"}},
      {"item" : {"name" : "flare"}},
      {"item" : {"name" : "mininglantern"}},
      {"item" : {"name" : "sb_stonepickaxe"}},
      {"item" : {"name" : "copperpickaxe"}, "rarity" : 0.5},
      {"item" : {"name" : "silverpickaxe"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_copper_repair"}, "rarity" : 0.5},
      {"item" : {"name" : "sb_silver_repair"}, "rarity" : 0.3},

      {"item" : {"name" : "parasol"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_watch"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_hawkeyes"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_light2energy"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_parachutepack"}, "rarity" : 0.3},
      {"item" : {"name" : "parachutepackback"}, "rarity" : 0.3},
      {"item" : {"name" : "flashlight"}, "rarity" : 0.3},
      {"item" : {"name" : "broom"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_ironaxe"}, "rarity" : 0.3},
      {"item" : {"name" : "hoe"}, "rarity" : 0.3}
    ]],
    [3.9, [
      {"item" : {"name" : "liquidoil"}},
      {"item" : {"name" : "climbingrope"}},
      {"item" : {"name" : "bomb"}},
      {"item" : {"name" : "flare"}},
      {"item" : {"name" : "mininglantern"}},
      {"item" : {"name" : "sb_handdrill"}},
      {"item" : {"name" : "copperdrill"}, "rarity" : 0.5},
      {"item" : {"name" : "silverdrill"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_titanium_repair"}, "rarity" : 0.5},
      {"item" : {"name" : "sb_diamond_repair"}, "rarity" : 0.3},

      {"item" : {"name" : "parasol"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_watch"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_hawkeyes"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_light2energy"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_parachutepack"}, "rarity" : 0.3},
      {"item" : {"name" : "parachutepackback"}, "rarity" : 0.3},
      {"item" : {"name" : "flashlight"}, "rarity" : 0.3},
      {"item" : {"name" : "broom"}, "rarity" : 0.3},
      {"item" : {"name" : "sb_chainsaw"}, "rarity" : 0.3},
      {"item" : {"name" : "hoe"}, "rarity" : 0.3}
    ]]
  ],

  "sb_stimmerchant" : [
    [0, [
      {"item" : {"name" : "redstim"}},
      {"item" : {"name" : "yellowstim"}}
    ]],
    [3.9, [
      {"item" : {"name" : "redstim"}},
      {"item" : {"name" : "greenstim"}},
      {"item" : {"name" : "bluestim"}},
      {"item" : {"name" : "orangestim"}},
      {"item" : {"name" : "yellowstim"}},
      {"item" : {"name" : "sb_greystim"}}
    ]]
  ],

  "sb_humanclothes" : [ //wait, isn't this unused?! WE DONT NEED THIS, RIGHT?
    [0, [
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "conceptchest", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "conceptlegs", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "coolchest", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "hoodiechest", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "coollegs", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "jeans1legs", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "jeans2legs", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "jeans3legs", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "sweatervestchest", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "sweatervestlegs", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "workoutchest", "parameters" : {"colorIndex" : 11}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 1}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 3}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 4}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 5}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 6}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 7}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 8}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 9}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 10}}},
      {"item" : {"name" : "workoutlegs", "parameters" : {"colorIndex" : 11}}}
    ]]
  ]
}