{
  "primaryAbility": {
    "fireTime": 0.234,
    "baseDps": 7.5
  },
  "animationParts": {
    "blade": "t<t>a.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "inventoryIcon": "t<t>a.png<directives>",
  "animation": "/items/active/starbound/weapons/dagger.animation",
  "primaryAbilityType": "sb_dagger",
  "tooltipKind": "sb_sword2",
  "handGrip": "inside",
  "category": "dagger",
  "price": 250
}
