{
  "animationParts": {
    "blade": "t<t>m.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "inventoryIcon": "t<t>m.png<directives>",
  "animation": "/items/active/starbound/weapons/dagger.animation",
  "primaryAbilityType": "sb_dagger",
  "tooltipKind": "sb_sword2",
  "handGrip": "inside",
  "category": "dagger",
  "price": 250
}
