{
	"fixedRarity" : true,
	"scripts" : ["/items/active/weapons/melee/meleeweapon.lua"],
	"animation" : "/items/active/starbound/weapons/dagger.animation",
	"tooltipKind" : "sb_sword2",
	"category" : "dagger",
	"maxStack" : 1,
	"sb_dyeable" : true,
	"handGrip" : "inside",

	"rarity" : "common",
	"level" : 1,
	"price" : 100,
	"directives" : "?replace;ffca8a=b5b5b5;e0975c=808080;a85636=555;6f2919=303030",
	"inventoryIcon" : "t1.png<directives>",
	"animationParts" : {
	  "blade" : "t1.png<directives>",
	  "handle" : ""
	},
	"elementalType" : "physical",
	"primaryAbilityType" : "sb_dagger"
}