{
  "fixedRarity": true,
  "sb_dyeable": true,

  "rarity": "uncommon",
  "level": 4,
  "price": 250,
  "directives": "?replace;ffca8a=9da8af;e0975c=676f83;a85636=3d3d51;6f2919=24232f",
  "inventoryIcon": "t4.png<directives>",
  "animationParts": {
    "blade": "t4.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_dagger"
}
