{
  "nameGen": [
    {"mode": "alts"},
    [
      {"mode": "serie"},
      [{"mode": "alts"}, "The ", "Miss ", "", "Mr. ", "Holy ", "Beautiful ", "Precious ", "Awesome ", "Wicked ", "Badass ", "USCM "],
      [{"mode": "alts"}, "Militant", "Patriotic", "Democracy", "Space", "Corporate"],
      [{"mode": "alts"}, "stick", "barrel", "enator", "erizer", "maker", "boy", "shooter", "rifle"]
    ]
  ]
}
