{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_turret/turret_header.png",
      "fileBody": "/interface/sb_turret/turret_body.png",
      "fileFooter": "/interface/sb_turret/turret_footer.png"
    },
    "close": {
      "zlevel": 3,
      "type": "button",
      "base": "/interface/sb_inventory/x.png",
      "hover": "/interface/sb_inventory/xhover.png",
      "pressed": "/interface/sb_inventory/xpress.png",
      "callback": "close",
      "position": [123, 22],
      "pressedOffset": [0, 0]
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [60, 37],
      "dimensions": [1, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/sb_inventory/gun.png"
    }
  }
}
