{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/sb_techselection/header.png",
      "fileBody": "/interface/scripted/sb_techselection/body.png",
      "fileFooter": "/interface/scripted/sb_techselection/footer.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "icon": {
        "type": "image",
        "file": "/interface/sb_crafting/craftingicons.png:tech",
        "zlevel": -1
      }
    },
    "close": {
      "type": "button",
      "pressedOffset": [0, 0],
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "position": [279, 206],
      "callback": "close"
    },
    "lblTech": {
      "type": "label",
      "position": [65, 189],
      "hAnchor": "mid",
      "value": "TECH",
      "color": [127, 127, 127]
    },
    "lblDescription": {
      "type": "label",
      "position": [219, 189],
      "hAnchor": "mid",
      "value": "DESCRIPTION",
      "color": [127, 127, 127]
    },
    "lblTechSlots": {
      "type": "label",
      "position": [219, 84],
      "hAnchor": "mid",
      "value": "TECH SLOTS",
      "color": [127, 127, 127]
    },
    "btnSlot1": {
      "type": "button",
      "pressedOffset": [0, 0],
      "base": "/interface/scripted/sb_techselection/lockinUnselected.png",
      "hover": "/interface/scripted/sb_techselection/lockinSelected.png",
      "position": [161, 36],
      "data": 1,
      "callback": "addTech"
    },
    "btnSlot2": {
      "type": "button",
      "pressedOffset": [0, 0],
      "base": "/interface/scripted/sb_techselection/lockinUnselected.png",
      "hover": "/interface/scripted/sb_techselection/lockinSelected.png",
      "position": [251, 36],
      "data": 2,
      "callback": "addTech"
    },
    "itemSlot1": {
      "type": "image",
      "centered": true,
      "scissoring": false,
      "size": [16, 16],
      "position": [173, 68]
    },
    "itemSlot2": {
      "type": "image",
      "centered": true,
      "scissoring": false,
      "size": [16, 16],
      "position": [263, 68]
    },
    "techScrollArea": {
      "type": "scrollArea",
      "rect": [5, 39, 138, 175],
      "children": {
        "itemList": {
          "type": "list",
          "callback": "techSelected",
          "schema": {
            "selectedBG": "/interface/scripted/sb_techselection/craftableselected.png",
            "unselectedBG": "/interface/scripted/sb_techselection/craftablebackground.png",
            "spacing": [0, 1],
            "memberSize": [133, 20],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/sb_techselection/craftablebackground.png",
                "position": [1, 0],
                "zlevel": -1
              },
              "techName": {
                "type": "label",
                "position": [22, 10],
                "vAnchor": "mid",
                "hAnchor": "left",
                "wrapWidth": 98,
                "width": 98,
                "value": "Replace Me"
              },
              "techIcon": {
                "type": "image",
                "position": [11, 10],
                "scissoring": false,
                "size": [16, 16],
                "centered": true,
                "callback": "null"
              }
            }
          }
        }
      }
    },
    "techSlotGroup": {
      "type": "radioGroup",
      "toggleMode": false,
      "buttons": [{
          "selected": true,
          "baseImage": "/interface/scripted/sb_techselection/tabs.png:0",
          "hoverImage": "/interface/scripted/sb_techselection/tabs.png:1",
          "baseImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "hoverImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "pressedOffset": [0, 0],
          "position": [3, 175],
          "data": "Head"
        }, {
          "baseImage": "/interface/scripted/sb_techselection/tabs.png:0",
          "hoverImage": "/interface/scripted/sb_techselection/tabs.png:1",
          "baseImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "hoverImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "pressedOffset": [0, 0],
          "position": [34, 175],
          "data": "Body"
        }, {
          "baseImage": "/interface/scripted/sb_techselection/tabs.png:0",
          "hoverImage": "/interface/scripted/sb_techselection/tabs.png:1",
          "baseImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "hoverImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "pressedOffset": [0, 0],
          "position": [65, 175],
          "data": "Legs"
        }, {
          "baseImage": "/interface/scripted/sb_techselection/tabs.png:0",
          "hoverImage": "/interface/scripted/sb_techselection/tabs.png:1",
          "baseImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "hoverImageChecked": "/interface/scripted/sb_techselection/tabs.png:1",
          "pressedOffset": [0, 0],
          "position": [96, 175],
          "data": "Suit"
        }
      ]
    },
    "lblTechSlotHead": {
      "type": "label",
      "position": [20, 176],
      "value": "^shadow;HEAD",
      "hAnchor": "mid",
      "mouseTransparent": true
    },
    "lblTechSlotBody": {
      "type": "label",
      "position": [50, 176],
      "value": "^shadow;BODY",
      "hAnchor": "mid",
      "mouseTransparent": true
    },
    "lblTechSlotLeg": {
      "type": "label",
      "position": [81, 176],
      "value": "^shadow;LEG",
      "hAnchor": "mid",
      "mouseTransparent": true
    },
    "lblTechSlotSuit": {
      "type": "label",
      "position": [112, 176],
      "value": "^shadow;SUIT",
      "hAnchor": "mid",
      "mouseTransparent": true
    },
    "description": {
      "type": "label",
      "position": [148, 162],
      "wrapWidth": 140,
      "hAnchor": "left",
      "vAnchor": "top",
      "size": [80, 220]
    },
    "shortdescription": {
      "type": "label",
      "value": "",
      "position": [166, 183],
      "wrapWidth": 130,
      "lineSpacing": 1,
      "hAnchor": "left",
      "vAnchor": "top",
      "size": [200, 220]
    },
    "techIcon": {
      "type": "image",
      "file": "",
      "scissoring": false,
      "size": [16, 16],
      "position": [145, 167]
    },
    "btnAccept": {
      "type": "button",
      "base": "/interface/scripted/sb_techselection/accept.png:2",
      "hover": "/interface/scripted/sb_techselection/accept.png:1",
      "pressed": "/interface/scripted/sb_techselection/accept.png:0",
      "disabledImage": "/interface/scripted/sb_techselection/accept.png:0?brightness=-30",
      "pressedOffset": [0, 0],
      "position": [186.5, 57],
      "callback": "accept"
    },
    "btnReset": {
      "type": "button",
      "base": "/interface/scripted/sb_techselection/reset.png:2",
      "hover": "/interface/scripted/sb_techselection/reset.png:1",
      "pressed": "/interface/scripted/sb_techselection/reset.png:0",
      "disabledImage": "/interface/scripted/sb_techselection/reset.png:0?brightness=-30",
      "pressedOffset": [0, 0],
      "position": [186.5, 36],
      "callback": "reset"
    }
  },

  "scriptWidgetCallbacks": [
    "accept",
    "addTech",
    "techSelected",
    "techSlotGroup",
    "reset"
  ],

  "strings": {
    "intro": "Here you can create specialised ^#0f0;Tech Drives^reset; that allow you to ^orange;change techs^reset; on-the-fly.\n\nSelect ^orange;one tech to make an Equipper^reset; or ^orange;two for a Swapper.",
    "cantAfford": "You do not have enough ^#0f0;Tech Cards.\n\nTech Swappers and Equippers^reset; can be recycled in a ^orange;Refinery^reset; to receive one ^#0f0;Tech Card.^reset;",
    "nothingSelected": "Please select at least one tech.",
    "invalidCombination": "Please select two different techs."
  },

  "scripts": ["/interface/scripted/sb_techselection/techselection.lua"],
  "scriptDelta": 0
}
