{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_objectcrafting/campfire_header.png",
      "fileBody": "/interface/sb_objectcrafting/campfire_body.png",
      "fileFooter": "/interface/sb_objectcrafting/campfire_footer.png"
    },
    "toggleCrafting": {
      "type": "button",
      "position": [5, 39],
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "^shadow;Cook"
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [74, 37],
      "dimensions": [1, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/sb_inventory/empty.png"
    },
    "outputItemGrid": {
      "type": "itemgrid",
      "slotOffset": 1,
      "position": [110, 37],
      "dimensions": [1, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/sb_inventory/empty.png"
    },
    "pointer": {
      "type": "image",
      "position": [96, 40],
      "file": "/interface/sb_objectcrafting/arrow.png"
    },
    "close": {
      "zlevel": 3,
      "type": "button",
      "base": "/interface/sb_inventory/x.png",
      "hover": "/interface/sb_inventory/xhover.png",
      "pressed": "/interface/sb_inventory/xpress.png",
      "callback": "close",
      "position": [123, 22],
      "pressedOffset": [0, 0]
    },
    "overlay": {
      "type": "image",
      "file": "/interface/sb_objectcrafting/campfire_shine.png",
      "position": [-20, 20]
    }
  }
}
