{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_objectcrafting/wrapping_header.png",
      "fileBody": "/interface/sb_objectcrafting/wrapping_body.png",
      "fileFooter": "/interface/sb_objectcrafting/wrapping_footer.png"
    },
    "lblText": {
      "type": "label",
      "position": [88, 43],
      "hAnchor": "mid",
      "wrapWidth": 160,
      "value": "^#b9b5b2,shadow;^set;Uses ^#dcb571;empty parcels^reset; to wrap items."
    },
    "wrap": {
      "enabled": false,
      "callback": "wrap",
      "type": "button",
      "position": [101, 18],
      "caption": "^shadow;Wrap all",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "press": "/interface/buttonhover.png",
      "pressedOffset": [0, 0]
    },
    "clear": {
      "position": [16, 18],
      "type": "button",
      "caption": "Take all",
      "base": "/interface/buttonred.png",
      "hover": "/interface/buttonredhover.png",
      "press": "/interface/buttonredhover.png",
      "pressedOffset": [0, 0]
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [20, 55],
      "dimensions": [7, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/inventory/empty.png"
    },
    "close": {
      "zlevel": 3,
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "callback": "close",
      "position": [155, 81],
      "pressedOffset": [0, 0]
    }
  },
  "scriptWidgetCallbacks": ["wrap"],
  "scripts": ["/interface/sb_objectcrafting/wrapping.lua"],
  "desc": " (Contains %s items.)"
}
