{
  //MATTER MANIPULATOR UPGRADE MENU
  "forceMoveMMUI": false, //If true, move the 4 essential slot (and liquid toggle) to the lower-left corner
  "posMMUI": [//where to move the slots and toggle
    [16, 30], //liquid toggle
    [3, 57], //manipulator
    [3, 39], //paint
    [21, 57], //wire
    [21, 39]//scan
  ],

  //items
  "heldItemArmAngle": -0.436,
  "infoItemTextDirectives": "?replace;000=0000?border;1;333;0000",

  //the one in player.config isn't read by the game
  "defaultItems": ["sb_startingitembag"],

  "rotFood": true,
  "hungerPopups": true,
  "fuelScaling": true,

  //If any of these items accept augments, all Betabound items of that category which run the Betabound armor buildscript will also accept augments
  //There are armor augment mods for each slot. We need the path because buildscripts run before the item database is finished
  "armorAugmentModPaths": {
    "headarmor": "/items/armors/other/camo/camo.head",
    "chestarmor": "/items/armors/other/camo/camo.chest",
    "legarmor": "/items/armors/other/camo/camo.legs",

    "headwear": "/items/armors/decorative/clothes/scarf/winterscarf.head",
    "chestwear": "/items/armors/decorative/clothes/tshirt/tshirt.chest",
    "legwear": "/items/armors/decorative/clothes/jeans1/jeans1.legs",

    "other": "/items/armors/backitems/eye/eye.back"
  },

  //TRANSLATABLE STRINGS
  "showHunger": "^#d5ab36;Hunger: %s", //for sb_showhunger command
  "removedItemRefundDescription": "An item was removed. This parcel contains a refund. If it's a white X (or other non-box icon), drop it on the ground or put it in a chest.",
  "developerMessage": "^yellow;[Developer Message]^reset;",
  "dyeLabel": "^gray;(Dyeable)", //For weapon tooltips. Defined here instead of in tooltips because weapons running vanilla buildscripts won't unset it if undyeable

  "updateNotes": {
    "default": "If you have white X's or similar 'empty' items in your inventory, relog or put them in a chest to fix.",
    "changedQuestRewards": "Rewards for one or more completed quests have been adjusted. (Contains %s items.)",
    "changedQuestIds": "The internal ID's of one or more completed quests at the outpost have been changed. This contains the items to re-complete those quests. (Contains %s items.)",
    "090": "Redundant Betabound crafting stations have been phased out. You may need to craft vanilla crafting stations."
  }
}
