/*
836238594
  club
  greataxe
  greatsword
  greatmace
  quarterstaff
  spellbook

1632807184
  katana

1967748482
  stolte_smg
  stolte_pulserifle
  stolte_machinegun
  stolte_leveractionrifle
  stolte_handcannon
  grenadeLauncher
  stolte_autoshotgun
  stolte_bullpup
*/
{
  "weaponNames": {
    "assaultrifle": "A. Rifle",
    "sniperrifle": "S. Rifle",
    "rocketlauncher": "R. Launcher"
//  "wand": "Wand/Staff" I hope players will look at it for one second, ask CAN A WAND ABILITY GO ON A STAFF and say YES
  },

  "abilities": {
    //Melee
    "bladecharge": {
      "weaponTypes": ["broadsword", "longsword", "club", "greatsword"],
      "weaponName": "sword"
    },
    "downstab": {
      "weaponTypes": ["broadsword", "longsword", "katana", "club", "greatsword"],
      "weaponName": "sword"
    },
    "parry": {
      "weaponTypes": ["broadsword", "longsword", "club", "greatsword"],
      "weaponName": "sword"
    },
    "risingslash": {
      "weaponTypes": ["broadsword", "longsword", "club", "greatsword"],
      "weaponName": "sword"
    },
    "spinslash": {
      "weaponTypes": ["broadsword", "longsword", "katana", "club", "greatsword"],
      "weaponName": "sword"
    },
    "superspinslash": {
      "icon": "spinslash.png",
      "weaponTypes": ["broadsword", "longsword", "katana", "club", "greatsword"],
      "weaponName": "sword"
    },
    "giantsword": {
      "weaponTypes": ["broadsword", "longsword", "katana", "club", "greatsword"],
      "weaponName": "sword"
    },
    "travelingslash": {
      "weaponTypes": ["broadsword", "longsword", "katana", "club", "greatsword"],
      "weaponName": "sword"
    },
    "blinkexplosion": {
      "weaponTypes": ["broadsword", "hammer", "spear", "longsword", "quarterstaff", "greataxe", "club", "greatsword", "greatmace"],
      "weaponName": "melee"
    },
    "blinkslash": {
      "weaponTypes": ["broadsword", "longsword", "club", "greatsword"],
      "weaponName": "sword"
    },
    "traildash": {
      "weaponTypes": ["broadsword", "longsword", "club", "greatsword"],
      "weaponName": "sword"
    },
    "uppercut": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe", "greatmace"],
      "weaponName": "hammer"
    },
    "physicalshockwave": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe", "greatmace"],
      "acceptedElements": ["physical"], //this ability only works on physical weapons
      "weaponName": "hammer"
    },
    "shockwave": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe", "greatmace"],
      "weaponName": "hammer"
    },
    "groundslam": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe", "greatmace"],
      "weaponName": "hammer"
    },
    "elementalaura": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe", "greatmace"],
      "weaponName": "hammer"
    },
    "elementalpillar": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe", "greatmace"],
      "weaponName": "hammer"
    },
    "flurry": {
      "weaponTypes": ["spear", "quarterstaff"],
      "weaponName": "spear"
    },
    "spearspin": {
      "weaponTypes": ["spear", "quarterstaff"],
      "weaponName": "spear"
    },
    "elementalspin": {
      "weaponTypes": ["spear", "quarterstaff"],
      "weaponName": "spear"
    },
    "barrier": {
      "weaponTypes": ["spear", "quarterstaff"],
      "weaponName": "spear"
    },
    "rocketspear": {
      "weaponTypes": ["spear", "quarterstaff"],
      "weaponName": "spear"
    },

    //Guns
    "explosiveshot": {
      "weaponTypes": ["assaultrifle", "battlerifle", "sniperrifle", "stolte_smg", "stolte_pulserifle", "stolte_machinegun", "stolte_leveractionrifle", "stolte_bullpup"],
      "weaponName": "rifle"
    },
    "bouncingshot": {
      "weaponTypes": ["assaultrifle", "battlerifle", "sniperrifle", "stolte_smg", "stolte_leveractionrifle", "stolte_handcannon", "stolte_autoshotgun", "stolte_bullpup"],
      "weaponName": "rifle"
    },
    "flashlight": {
      "weaponTypes": ["assaultrifle", "shotgun", "sniperrifle", "battlerifle", "stolte_smg", "stolte_pulserifle", "stolte_handcannon", "stolte_bullpup"],
      "weaponName": "firearm"
    },
    "grenadelauncher": {
      "weaponTypes": ["assaultrifle", "shotgun", "sniperrifle", "battlerifle", "stolte_pulserifle", "stolte_autoshotgun", "stolte_bullpup"],
      "weaponName": "firearm"
    },
    "spray": {
      "weaponTypes": ["assaultrifle", "battlerifle", "stolte_smg", "stolte_pulserifle", "stolte_bullpup"],
      "icon": "sb_spring.png",
      "weaponName": "assaultrifle"
    },
    "sb_physicallance": {
      "weaponTypes": ["assaultrifle", "battlerifle", "stolte_pulserifle", "stolte_machinegun", "stolte_leveractionrifle", "stolte_handcannon", "stolte_autoshotgun", "stolte_bullpup"],
      "acceptedElements": ["physical"], //this ability only works on physical weapons
      "weaponName": "assaultrifle"
    },
    "lance": {
      "weaponTypes": ["assaultrifle", "battlerifle", "stolte_pulserifle", "stolte_machinegun", "stolte_leveractionrifle", "stolte_handcannon", "stolte_autoshotgun", "stolte_bullpup"],
      "weaponName": "assaultrifle"
    },
    "explosiveburst": {
      "weaponTypes": ["assaultrifle", "stolte_pulserifle", "stolte_machinegun", "stolte_handcannon", "grenadeLauncher", "stolte_autoshotgun", "stolte_bullpup"],
      "weaponName": "assaultrifle"
    },
    "homingrocket": {
      "weaponTypes": ["rocketlauncher"],
      "icon": "/items/active/weapons/ranged/abilities/markedshot/targetoverlay.png",
      "weaponName": "rocketlauncher"
    },
    "guidedrocket": {
      "weaponTypes": ["rocketlauncher"],
      "weaponName": "rocketlauncher"
    },
    "rocketburst": {
      "weaponTypes": ["rocketlauncher"],
      "weaponName": "rocketlauncher"
    },
    "shrapnelbomb": {
      "weaponTypes": ["shotgun", "grenadeLauncher"],
      "weaponName": "shotgun"
    },
    "burstshot": {
      "weaponTypes": ["shotgun", "stolte_pulserifle", "stolte_handcannon", "stolte_autoshotgun"],
      "weaponName": "shotgun"
    },
    "stickyshot": {
      "weaponTypes": ["shotgun", "grenadeLauncher"],
      "weaponName": "shotgun"
    },
    "piercingshot": {
      "weaponTypes": ["sniperrifle", "stolte_pulserifle", "stolte_machinegun", "stolte_leveractionrifle", "stolte_handcannon", "stolte_bullpup"],
      "weaponName": "sniperrifle"
    },
    "markedshot": {
      "weaponTypes": ["sniperrifle", "stolte_leveractionrifle"],
      "icon": "/items/active/weapons/ranged/abilities/markedshot/targetoverlay.png",
      "weaponName": "sniperrifle"
    },
    "deathbomb": {
      "weaponTypes": ["sniperrifle"],
      "weaponName": "sniperrifle"
    },

    //staves
    "elementbouncer": {
      "weaponTypes": ["staff", "wand", "spellbook"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementorb": {
      "weaponTypes": ["staff", "wand", "spellbook"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementportal": {
      "weaponTypes": ["staff", "wand", "spellbook"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementrain": {
      "weaponTypes": ["staff", "wand", "spellbook"],
      "slot": "primary",
      "icon": "/interface/cockpit/weather/rain.png",
      "weaponName": "wand"
    },
    "elementswarm": {
      "weaponTypes": ["staff", "wand", "spellbook"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "energyzone": {
      "weaponTypes": ["staff", "spellbook"],
      "weaponName": "staff"
    },
    "forcecage": {
      "weaponTypes": ["staff", "spellbook"],
      "weaponName": "staff"
    },
    "healingzone": {
      "weaponTypes": ["staff", "spellbook"],
      "weaponName": "staff"
    },
    "lowgravzone": {
      "weaponTypes": ["staff", "spellbook"],
      "weaponName": "staff"
    },
    "pullzone": {
      "weaponTypes": ["staff", "spellbook"],
      "weaponName": "staff"
    },
    "pushzone": {
      "weaponTypes": ["staff", "spellbook"],
      "weaponName": "staff"
    },
    "slowzone": {
      "weaponTypes": ["staff", "spellbook"],
      "weaponName": "staff"
    }
  }
}
