{
  //Melee
  "bladecharge": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "downstab": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "parry": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "risingslash": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "spinslash": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "superspinslash": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "giantsword": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "travelingslash": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "blinkexplosion": {
    "weaponTypes": ["broadsword", "hammer", "spear", "longsword", "quarterstaff", "greataxe"]
  },
  "blinkslash": {
    "icon": "sword.png",
    "weaponTypes": ["broadsword", "longsword"]
  },
  "traildash": {
    "weaponTypes": ["broadsword", "longsword"]
  },
  "uppercut": {
    "weaponTypes": ["hammer", "quarterstaff", "greataxe"]
  },
  "physicalshockwave": {
    "weaponTypes": ["hammer", "quarterstaff", "greataxe"],
    "acceptedElements": ["physical"]
  },
  "shockwave": {
    "weaponTypes": ["hammer", "quarterstaff", "greataxe"]
  },
  "groundslam": {
    "weaponTypes": ["hammer", "quarterstaff", "greataxe"]
  },
  "elementalaura": {
    "weaponTypes": ["hammer", "quarterstaff", "greataxe"]
  },
  "elementalpillar": {
    "weaponTypes": ["hammer", "quarterstaff", "greataxe"]
  },
  "flurry": {
    "weaponTypes": ["spear"]
  },
  "spearspin": {
    "weaponTypes": ["spear"]
  },
  "elementalspin": {
    "weaponTypes": ["spear"]
  },
  "barrier": {
    "weaponTypes": ["spear"]
  },
  "rocketspear": {
    "weaponTypes": ["spear"]
  },

  //Guns
  "explosiveshot": {
    "weaponTypes": ["assaultrifle", "battlerifle", "sniperrifle"],
    "icon": "sb_trigger.png"
  },
  "bouncingshot": {
    "weaponTypes": ["assaultrifle", "battlerifle", "sniperrifle"],
    "icon": "sb_trigger.png"
  },
  "flashlight": {
    "weaponTypes": ["assaultrifle", "shotgun", "sniperrifle", "battlerifle"]
  },
  "grenadelauncher": {
    "weaponTypes": ["assaultrifle", "shotgun", "sniperrifle", "battlerifle"]
  },
  "spray": {
    "weaponTypes": ["assaultrifle", "battlerifle"],
    "icon": "sb_spring.png"
  },
  "lance": {
    "weaponTypes": ["assaultrifle", "shotgun", "battlerifle"]//shotgun for betabound
  },
  "homingrocket": {
    "weaponTypes": ["rocketlauncher"]
  },
  "guidedrocket": {
    "weaponTypes": ["rocketlauncher"]
  },
  "rocketburst": {
    "weaponTypes": ["rocketlauncher"]
  },
  "shrapnelbomb": {
    "weaponTypes": ["shotgun"]
  },
  "burstshot": {
    "weaponTypes": ["shotgun"],
    "icon": "sb_trigger.png"
  },
  "stickyshot": {
    "weaponTypes": ["shotgun"],
    "icon": "sb_trigger.png"
  },
  "piercingshot": {
    "weaponTypes": ["sniperrifle"],
    "icon": "sb_trigger.png"
  },
  "markedshot": {
    "weaponTypes": ["sniperrifle"],
    "icon": "sb_trigger.png"
  },
  "deathbomb": {
    "weaponTypes": ["sniperrifle"]
  },

  //staves
  "elementbouncer": {
    "weaponTypes": ["staff", "wand"],
    "slot": "primary"
  },
  "elementorb": {
    "weaponTypes": ["staff", "wand"],
    "slot": "primary"
  },
  "elementportal": {
    "weaponTypes": ["staff", "wand"],
    "slot": "primary"
  },
  "elementrain": {
    "weaponTypes": ["staff", "wand"],
    "slot": "primary",
    "icon": "/interface/cockpit/weather/rain.png"
  },
  "elementswarm": {
    "weaponTypes": ["staff", "wand"],
    "slot": "primary"
  },
  "energyzone": {
    "weaponTypes": ["staff"]
  },
  "forcecage": {
    "weaponTypes": ["staff"]
  },
  "healingzone": {
    "weaponTypes": ["staff"]
  },
  "lowgravzone": {
    "weaponTypes": ["staff"]
  },
  "pullzone": {
    "weaponTypes": ["staff"]
  },
  "pushzone": {
    "weaponTypes": ["staff"]
  },
  "slowzone": {
    "weaponTypes": ["staff"]
  }
}
