/*
Pogo Sword - downstab
Spin Slash - spinslash
Super Spin Slash - superspinslash
 */
{
  "weaponNames": {
    "assaultrifle": "A. Rifle",
    "sniperrifle": "S. Rifle",
    "rocketlauncher": "R. Launcher"
//  "wand": "Wand/Staff" I hope players will look at it for one second, ask CAN A WAND ABILITY GO ON A STAFF and say YES
  },

  "abilities": {
    //Melee
    "bladecharge": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "downstab": {
      "icon": "sword.png",
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "parry": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "risingslash": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "spinslash": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "superspinslash": {
      "icon": "sword.png",
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "giantsword": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "travelingslash": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "blinkexplosion": {
      "weaponTypes": ["broadsword", "hammer", "spear", "longsword", "quarterstaff", "greataxe"],
      "weaponName": "melee"
    },
    "blinkslash": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "traildash": {
      "weaponTypes": ["broadsword", "longsword"],
      "weaponName": "sword"
    },
    "uppercut": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe"],
      "weaponName": "hammer"
    },
    "physicalshockwave": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe"],
      "acceptedElements": ["physical"],//this ability only works on physical weapons
      "weaponName": "hammer"
    },
    "shockwave": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe"],
      "weaponName": "hammer"
    },
    "groundslam": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe"],
      "weaponName": "hammer"
    },
    "elementalaura": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe"],
      "weaponName": "hammer"
    },
    "elementalpillar": {
      "weaponTypes": ["hammer", "quarterstaff", "greataxe"],
      "weaponName": "hammer"
    },
    "flurry": {
      "weaponTypes": ["spear"],
      "weaponName": "spear"
    },
    "spearspin": {
      "weaponTypes": ["spear"],
      "weaponName": "spear"
    },
    "elementalspin": {
      "weaponTypes": ["spear"],
      "weaponName": "spear"
    },
    "barrier": {
      "weaponTypes": ["spear"],
      "weaponName": "spear"
    },
    "rocketspear": {
      "weaponTypes": ["spear"],
      "weaponName": "spear"
    },

    //Guns
    "explosiveshot": {
      "weaponTypes": ["assaultrifle", "battlerifle", "sniperrifle"],
      "weaponName": "rifle"
    },
    "bouncingshot": {
      "weaponTypes": ["assaultrifle", "battlerifle", "sniperrifle"],
      "weaponName": "rifle"
    },
    "flashlight": {
      "weaponTypes": ["assaultrifle", "shotgun", "sniperrifle", "battlerifle"],
      "weaponName": "firearm"
    },
    "grenadelauncher": {
      "weaponTypes": ["assaultrifle", "shotgun", "sniperrifle", "battlerifle"],
      "weaponName": "firearm"
    },
    "spray": {
      "weaponTypes": ["assaultrifle", "battlerifle"],
      "icon": "sb_spring.png",
      "weaponName": "assaultrifle"
    },
    "sb_physicallance": {
      "weaponTypes": ["assaultrifle", "battlerifle"],
      "acceptedElements": ["physical"],//this ability only works on physical weapons
      "weaponName": "assaultrifle"
    },
    "lance": {
      "weaponTypes": ["assaultrifle", "battlerifle"],
      "weaponName": "assaultrifle"
    },
    "explosiveburst": {
      "weaponTypes": ["assaultrifle"],
      "weaponName": "assaultrifle"
    },
    "homingrocket": {
      "weaponTypes": ["rocketlauncher"],
      "icon": "/items/active/weapons/ranged/abilities/markedshot/targetoverlay.png",
      "weaponName": "rocketlauncher"
    },
    "guidedrocket": {
      "weaponTypes": ["rocketlauncher"],
      "weaponName": "rocketlauncher"
    },
    "rocketburst": {
      "weaponTypes": ["rocketlauncher"],
      "weaponName": "rocketlauncher"
    },
    "shrapnelbomb": {
      "weaponTypes": ["shotgun"],
      "weaponName": "shotgun"
    },
    "burstshot": {
      "weaponTypes": ["shotgun"],
      "weaponName": "shotgun"
    },
    "stickyshot": {
      "weaponTypes": ["shotgun"],
      "weaponName": "shotgun"
    },
    "piercingshot": {
      "weaponTypes": ["sniperrifle"],
      "weaponName": "sniperrifle"
    },
    "markedshot": {
      "weaponTypes": ["sniperrifle"],
      "icon": "/items/active/weapons/ranged/abilities/markedshot/targetoverlay.png",
      "weaponName": "sniperrifle"
    },
    "deathbomb": {
      "weaponTypes": ["sniperrifle"],
      "weaponName": "sniperrifle"
    },

    //staves
    "elementbouncer": {
      "weaponTypes": ["staff", "wand"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementorb": {
      "weaponTypes": ["staff", "wand"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementportal": {
      "weaponTypes": ["staff", "wand"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementrain": {
      "weaponTypes": ["staff", "wand"],
      "slot": "primary",
      "icon": "/interface/cockpit/weather/rain.png",
      "weaponName": "wand"
    },
    "elementswarm": {
      "weaponTypes": ["staff", "wand"],
      "slot": "primary",
      "weaponName": "wand"
    },
    "energyzone": {
      "weaponTypes": ["staff"],
      "weaponName": "staff"
    },
    "forcecage": {
      "weaponTypes": ["staff"],
      "weaponName": "staff"
    },
    "healingzone": {
      "weaponTypes": ["staff"],
      "weaponName": "staff"
    },
    "lowgravzone": {
      "weaponTypes": ["staff"],
      "weaponName": "staff"
    },
    "pullzone": {
      "weaponTypes": ["staff"],
      "weaponName": "staff"
    },
    "pushzone": {
      "weaponTypes": ["staff"],
      "weaponName": "staff"
    },
    "slowzone": {
      "weaponTypes": ["staff"],
      "weaponName": "staff"
    }
  }
}
