{
  "noSuchCommand": "No such command %s",
  "lowArgs": "Not enough arguments to %s",
  "noPlayer": "Could not find anyone named '%s'\n(If the name has a space, either type the name in \"quotation marks\" or put a '\\' before the space)",

  "whisper": {
    "usage": "/whisper <player name> <message>",
    "you": "You -> %s:%s",
    "them": "%s -> You:%s"
  },

  "itemID": {
    "noItem": "No such item '%s' exists"
  },

  "itemTypes": {
    "augmentitem": "augment",
    "generic": "item",
    "beamminingtool": "beamaxe",
    "paintingbeamtool": "painttool",
    "unlockitem": "unlock",
    "material": "matitem",
    "liquid": "liqitem",
    "headarmor": "head",
    "chestarmor": "chest",
    "legsarmor": "legs",
    "backarmor": "back"
  },

  "foodSums": {
    "alienfruit": [20, 150],
    "automato": [10, 75],
    "avesmingo": [15, 120],
    "banana": [15, 120],
    "beakseed": [15, 120],
    "boltbulb": [10, 75],
    "boneboo": [20, 150],
    "cacti": [10, 75],
    "carrot": [10, 75],
    "chili": [5, 40],
    "cocoa": [15, 120],
    "coconut": [15, 120],
    "chocolate": [15, 120],
    "coffeebeans": [15, 120],
    "coralcreep": [10, 75],
    "corn": [15, 75],
    "crystalplant": [15, 120],
    "currentcorn": [10, 75],
    "diodia": [15, 120],
    "dirturchin": [10, 75],
    "eggshoot": [10, 75],
    "feathercrown": [20, 150],
    "grapes": [15, 120],
    "greenapple": [10, 75],
    "kelp": [0.3, 3],
    "kiwi": [20, 150],
    "neonmelon": [20, 150],
    "oculemon": [20, 150],
    "orange": [15, 20],
    "pearlpea": [10, 50],
    "pineapple": [20, 200],
    "potato": [20, 100],
    "pussplum": [15, 120],
    "redapple": [10, 75],
    "reefpod": [15, 120],
    "rice": [15, 75],
    "seaweed": [5, 40],
    "shroom": [2, 6],
    "sugar": [15, 110],
    "thornfruit": [20, 150],
    "tomato": [10, 75],
    "toxictop": [20, 150],
    "wartweed": [10, 75],
    "wheat": [10, 50],
    "sb_poisoncreep": [15, 120],

    "alienmeat": [20, 25],
    "rawbacon": [10, 25],
    "rawfish": [20, 25],
    "rawham": [30, 40],
    "rawpoultry": [20, 25],
    "rawribmeat": [30, 40],
    "rawtentacle": [30, 40],
    "sb_rawfleshlump": [20, 25],

    "endomorphicjelly": [70, 500]
  }
}
