{
  "noSuchCommand": "No such command %s",
  "lowArgs": "Not enough arguments to %s",
  "noPlayer": "Could not find anyone named '%s'\n(If the name has a space, either type the name in \"quotation marks\" or put a '\\' before the space)",

  "whisper": {
    "usage": "Usage /whisper playerName message",
    "you": "You -> %s:%s",
    "them": "%s -> You:%s"
  },

  "itemid": {
    "usage": "Usage /sb_itemid itemName [detailed]",
    "noItem": "No such item %s"
  },

  "itemTypes": {
    "augmentitem": "augment",
    "generic": "item",
    "beamminingtool": "beamaxe",
    "paintingbeamtool": "painttool",
    "unlockitem": "unlock",
    "material": "matitem",
    "liquid": "liqitem",
    "headarmor": "head",
    "chestarmor": "chest",
    "legsarmor": "legs",
    "backarmor": "back"
  },

  /*
    sb_pbj endomorphicjelly|70/3??
  */
  "foodSums": {
    "alienfruit": [20, 40],
    "automato": [10, 80],
    "avesmingo": [15, 150],
    "banana": [15, 120],
    "beakseed": [15, 90],
    "boltbulb": [10, 120],
    "boneboo": [20, 160],
    "cacti": [10, 15],
    "carrot": [10, 60],
    "chili": [15, 210],
    "cocoa": [15, 90],
    "coconut": [15, 15],
    "chocolate": [15, 120],
    "coffeebeans": [15, 90],
    "coralcreep": [10, 100],
    "corn": [15, 60],
    "crystalplant": [15, 100],
    "currentcorn": [10, 80],
    "diodia": [15, 180],
    "dirturchin": [10, 100],
    "eggshoot": [10, 120],
    "feathercrown": [20, 120],
    "grapes": [15, 120],
    "greenapple": [10, 20],
    "kelp": [1, 3],
    "kiwi": [20, 120],
    "neonmelon": [20, 280],
    "oculemon": [20, 200],
    "orange": [15, 60],
    "pearlpea": [10, 40],
    "pineapple": [20, 160],
    "potato": [20, 80],
    "pussplum": [15, 150],
    "redapple": [10, 130],
    "reefpod": [15, 150],
    "rice": [15, 60],
    "seaweed": [5, 20],
    "shroom": [2, 5],
    "sugar": [15, 90],
    "thornfruit": [20, 30],
    "tomato": [10, 60],
    "toxictop": [20, 200],
    "wartweed": [10, 140],
    "wheat": [10, 40],
    "sb_poisoncreep": [15, 100],

    "sb_butter": [10, 25],
    "milk": [10, 40],
    "cheese": [15, 50],
    "snowball": [5, 0],

    "alienmeat": [20, 25],
    "rawbacon": [10, 25],
    "rawfish": [20, 25],
    "rawham": [30, 40],
    "rawpoultry": [20, 25],
    "rawribmeat": [30, 40],
    "rawtentacle": [30, 40],
    "sb_rawfleshlump": [15, 25],

//  "endomorphicjelly": [70, 500],
    "fleshstrand": [10, 0]
  }
}
