{
  "prefixes" : {
  "glitch" : "Analytical. "
  },

 "nouns" : {
  "male" : {"guy","himself","he","his"},
  "female" : {"gal","herself","she","her"},
  "other" : {"person","theirself","them","their"}
  },

 "noDesc" : {
  "player" : "This %s seems to have nothing to say for %s.",
  "item" : "I'm not sure what that is",
  "npc" : "Some funny-looking person.",
  "monster" : "It's obvious what that is.",
  "vehicle" : "Some vehicle."
  },

 "nothingThereText" : {
  "human" : {
        "Nothing of interest here.",
        "Nothing to see here.",
        "Nope, didn't find anything.",
        "Oh. My. God! It's a... wait... nope sorry, nothing.",
        "My god, it's full of nothing.",
        "If at first you don't succeed keep looking at the nothing.",
        "You try hard to make something out there, but fail.",
        "Nada, nothing, zilch, zip."
    }
  }
}