{  "airburstelectricbullet": ["Electric Burst",{"rarity":"uncommon"}],  "airburstfirebullet": ["Fire Burst",{"rarity":"uncommon"}],  "airbursticebullet": ["Ice Burst",{"rarity":"uncommon"}],  "airburstpoisonbullet": ["Poison Burst",{"rarity":"uncommon"}],  "piercingbullet": ["Piercing Bullet",{"rarity":"uncommon"}],  "sb_homingbullet": ["Homing Bullet",{"rarity":"uncommon"}],  "bouncybullet": "Bouncy Bullet",  "explosivebullet": "Explosive Bullet",  "fast": "Fast Bullet",  "standardbullet": "Bullet",  "huntingbullet": "Hunting Bullet"}