{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Bone ", "Rattle ", "Femur ", "Tibia ", "Marrow ", "Bleached ", "Skull ", "Rib " ],
      [ { "mode" : "alts" }, "Shatterer", "Cracker", "Rattler", "Flipper", "Smasher", "Bonanza", "Popper", "Breaker", "Fracturer" ]
    ]
  ]
}
