{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Needle", "Spike", "Spine", "Quill", "Dart", "Stick", "Pop", "Pin", "Sliver", "Splinter", "Sting" ],
      [ { "mode" : "alts" }, " Shooter", " Propeller", " Popper", " Spinner", " Gun", " Cannon", " Machine", " Killer", " Stabber", " Skewer" ]
    ]
  ]
}
