{
  "gui": {
    "fuelGauge": {
      "type": "fuelGauge",
      "position": [20, 54]
    },
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_fuel/fuelUIheader.png",
      "fileBody": "/interface/sb_fuel/fuelUIbody.png",
      "fileFooter": "/interface/sb_fuel/fuelUIfooter.png"
    },
    "burn": {
      "type": "button",
      "position": [101, 20],
      "base": "/interface/sb_fuel/fuel2up.png",
      "hover": "/interface/sb_fuel/fuel2down.png",
      "pressedOffset": [0, -1]
    },
    "clear": {
      "position": [34, 20],
      "type": "button",
      "base": "/interface/sb_fuel/clearup.png",
      "hover": "/interface/sb_fuel/cleardown.png",
      "pressedOffset": [0, -1]
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [28, 37],
      "dimensions": [6, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/sb_inventory/empty.png"
    },
    "close": {
      "zlevel": 3,
      "type": "button",
      "base": "/interface/sb_inventory/x.png",
      "hover": "/interface/sb_inventory/xhover.png",
      "pressed": "/interface/sb_inventory/xpress.png",
      "callback": "close",
      "position": [155, 59],
      "pressedOffset": [0, 0]
    }
  }
}
