{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Greenguard's ", "Dustdweller's ", "Guardsman's ", "Jailor's ", "Warden's " ],
      [ { "mode" : "alts" }, "Subjugator", "Shocker", "Prod", "Suppressor", "Zapper", "Stinger", "Stunner", "Peacekeeper", "Queller", "Punisher" ]
    ]
  ]
}
