{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Twisted ", "Thorny ", "Poisonous ", "Malicious ", "Cruel ", "Toxic ", "Spiky ", "Vicious ", "Spiteful " ],
      [ { "mode" : "alts" }, "Fleshrender", "Tenderizer", "Brutalizer", "Life-Ender", "Deathbringer", "Sunderer", "Eviscerator" ]
    ]
  ]
}
