{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Trusty ", "Deadly ", "Noble ", "Heavy ", "Brutal ", "Vicious ", "Guardsman's ", "Knight's ", "Rustic ", "Warrior's " ],
      [ { "mode" : "alts" }, "Mace", "Crusher", "Smasher", "Destroyer", "Life-Ender", "Deathbringer", "Enforcer", "Persuader", "Striker" ]
    ]
  ]
}
