{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Shining ", "Gleaming ", "Glittering ", "Enveloping ", "Revealing ", "Dazzling ", "Blinding ", "Splendid ", "Holy ", "Kluex's " ],
      [ { "mode" : "alts" }, "Sun", "Star", "Light", "Globe", "Orb", "Beacon", "Torch", "Hope", "Prayer", "Wish", "Eyes", "Lantern", "Glow" ]
    ]
  ]
}
