{
  "scriptWidgetCallbacks": ["spinCount.up", "spinCount.down", "buy", "sell", "tbCount", "parseCountText", "countChanged", "itemGrid", "itemSelected"],
  "scripts": ["/interface/scripted/sb_merchant/merchant.lua"],
  "itemQuantityText": "^#ccc;%s in stock^reset;",
  "soldOutText": "^#ccc;SOLD OUT!^reset;"
}
