{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Bone", "Arm", "Flesh", "Bio", "Deathly", "Cartilage", "Meat", "Death", "Skeleton", "Skull", "Blood", "Muscle", "Fat", "Beef", "Brawn", "Limb", "Extremity", "Leg" ],
      [ { "mode" : "alts" }, "saw", "reaver", "cleaver", "chopper", "meatax", "butcher", "cutter", "slicer", "dicer", "sawblade", "splitter", "bleeder", "carver", "ripper", "shredder", "ribber", "grater" ]
    ]
  ]
}