{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "The ", "Miss ", "", "Mr. ", "Holy ", "Beautiful ", "Precious ", "Awesome ", "Wicked ", "Badass ", "Sharp ", "Wild ", "Devilish ", "Dangerous ", "Professor ", "Undead ", "Throbbing ", "Demonic ", "Pleasant ", "Dire ", "Happy ", "Cuddly ", "Alarming ", "Screaming ", "Harrowing ", "Choppy ", "Pirate " ],
      [ { "mode" : "alts" }, "Kill", "Thunder", "Death", "Storm", "Dude", "Thrash", "Rage", "Battle", "Terror", "Crush", "Slash", "Chop", "Crunch", "Hack", "Whack", "Spine", "Skull", "Ear", "Nose", "Ape", "Plant", "Bird", "Fish", "Robot", "Meat", "Bro", "Alien", "Rock", "Wood", "Star", "Space", "Planet", "Deer", "Dawn", "Dusk" ],
      [ { "mode" : "alts" }, "stabber", "blade", "dagger", "dicer", "render", "slicer", "hacker", "cutter", "needler", "poker", "troubler", "jabber" ]
    ]
  ]
}
