{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Kluex's ", "Thornwing's ", "Sunborn's ", "Stargazer's ", "Harspex's ", "Kathex's ", "Lightbringer's ", "Ascendant's " ],
      [ { "mode" : "alts" }, "Fury", "Wrath", "Rage", "Anger", "Fire", "Light", "Sidearm", "Ruin" ]
    ]
  ]
}
