{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Kill", "Hand", "Strike", "Beef", "Zap", "Freeze", "Thrash", "Anger", "Blam", "Boom" ],
      [ { "mode" : "alts" }, "cannon", "barrel", "enator", "erizer", "maker", "boy", "shooter", "pistol", "revolver", "piece", " Single Action", " Howitzer", " Heavy Caliber", " Six Shooter" ]
    ]
  ]
}
