{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "The ", "Miss ", "", "Mr. ", "Holy ", "Beautiful ", "Precious ", "Awesome ", "Wicked ", "Badass ", "Sharp ", "Wild ", "Devilish " ],
      [ { "mode" : "alts" }, "Crystal", "Sparkling", "Crystalline", "Precious", "Shining" ],
      [ { "mode" : "alts" }, "stabber", "pike", "spear", "stick", "render", "poker", "sticker", "arm" ]
    ]
  ]
}
