{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Fabulous ", "Colourful ", "Happy ", "Rainbow ", "Sparkly ", "Bright ", "Vivid ", "Wild " ],
      [ { "mode" : "alts" }, "Kill", "Thunder", "Death", "Storm", "Dude", "Thrash", "Rage", "Battle", "Terror" ],
      [ { "mode" : "alts" }, "stabber", "pike", "spear", "stick", "render", "poker", "sticker", "arm" ]
    ]
  ]
}