{
  "builderConfig": [{
      "elementalConfig": {
        "fire": {
          "primaryAbility": {
            "projectileTypes": ["fireswirl", "marioball", "flamethrower"],
            "damageConfig": {
              "statusEffects": ["burning"],
              "damageSourceKind": "firespear"
            }
          }
        },
        "ice": {
          "primaryAbility": {
            "projectileTypes": ["icethrower", "icecrabcanosnowball"],
            "damageConfig": {
              "statusEffects": ["frostslow"],
              "damageSourceKind": "icespear"
            }
          }
        },
        "electric": {
          "primaryAbility": {
            "projectileTypes": ["electricexplosion", "lightningthrower", "teslabolt", "shock", "electro", "lightning2", "teslaboltsmall", "shockbomb"],
            "damageConfig": {
              "statusEffects": ["electrified"],
              "damageSourceKind": "electricspear"
            }
          }
        },
        "poison": {
          "primaryAbility": {
            "projectileType": "poisonthrower",
            "damageConfig": {
              "statusEffects": ["weakpoison"],
              "damageSourceKind": "poisonspear"
            }
          }
        }
      }
    }
  ]
}
