{
  "fixedRarity": true,
  "sb_dyeable": true,

  "rarity": "common",
  "level": 1,
  "price": 400,
  "directives": "?replace;ffca8a=b5b5b5;e0975c=808080;a85636=555;6f2919=303030",
  "inventoryIcon": "t1.png<directives>",
  "animationParts": {
    "blade": "t1.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_spear",
  "altAbilityType": "flurry",
  "primaryAbility": {
    "stances": {
      "idle": {
        "weaponOffset": [0, 0.95]
      },
      "windup": {
        "weaponOffset": [0, 0.95]
      }
    }
  }
}
