{
  "twoHanded": true,
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "animation": "/items/active/starbound/weapons/spear.animation",
  "tooltipKind": "sb_sword2",
  "category": "spear",
  "maxStack": 1,
  "sb_dyeable": true,

  "rarity": "common",
  "level": 2,
  "price": 600,
  "directives": "?replace;ffca8a=ccc;e0975c=9e9e9e;a85636=616161;6f2919=383838",
  "inventoryIcon": "t2.png<directives>",
  "animationParts": {
    "blade": "t2.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_spear",
  "altAbilityType": "flurry",
  "primaryAbility": {
    "stances": {
      "idle": {
        "weaponOffset": [0, 0.95]
      },
      "windup": {
        "weaponOffset": [0, 0.95]
      }
    }
  }
}
