{
	"twoHanded" : true,
	"fixedRarity" : true,
	"scripts" : ["/items/active/weapons/melee/meleeweapon.lua"],
	"animation" : "/items/active/starbound/weapons/spear.animation",
	"tooltipKind" : "sb_sword2",
	"category" : "spear",
	"maxStack" : 1,
	"sb_dyeable" : true,

	"rarity" : "uncommon",
	"level" : 3,
	"price" : 600,
	"directives" : "?replace;ffca8a=e6e6e6;e0975c=b6b6b6;a85636=7b7b7b;6f2919=373737",
	"inventoryIcon" : "t3.png<directives>",
	"animationParts" : {
	  "blade" : "t3.png<directives>",
	  "handle" : ""
	},
	"elementalType" : "physical",
	"primaryAbilityType" : "sb_spear",
	"altAbilityType" : "flurry",
	"primaryAbility" : {
	  "stances" : {
	    "idle" : {
	      "weaponOffset" : [0, 0.95]
	    },
	    "windup" : {
	      "weaponOffset" : [0, 0.95]
	    }
	  }
	}
}