{
  "inventoryIcon": "t5a.png<directives>",
  "primaryAbilityType": "sb_spear",
  "elementalType": "poison",
  "price": 1200,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "damageConfig": {
      "damageSourceKind": "poisonspear"
    },
    "fireTime": 0.75,
    "baseDps": 9
  },
  "altAbilityType": "barrier",
  "animationParts": {
    "blade": "t5a.png<directives>",
    "handle": ""
  }
}
