{
  "inventoryIcon": "t5m.png<directives>",
  "primaryAbilityType": "sb_spear",
  "elementalType": "fire",
  "price": 1200,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "damageConfig": {
      "damageSourceKind": "firespear"
    }
  },
  "altAbility": {
    "energyUsage": 35
  },
  "altAbilityType": "rocketspear",
  "animation": "/items/active/starbound/weapons/spear.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t5m.png<directives>",
    "handle": ""
  },
  "category": "spear"
}
