{
  "inventoryIcon": "t5s.png<directives>",
  "primaryAbilityType": "sb_spear",
  "elementalType": "electric",
  "price": 1200,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "damageConfig": {
      "damageSourceKind": "electricspear"
    },
    "fireTime": 1.25
  },
  "altAbilityType": "elementalspin",
  "animation": "/items/active/starbound/weapons/spear.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t5s.png<directives>",
    "handle": ""
  },
  "category": "spear"
}
