{
  "inventoryIcon": "t6a.png<directives>",
  "primaryAbilityType": "sb_spear",
  "elementalType": "physical",
  "price": 1200,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "fireTime": 0.75,
    "baseDps": 9
  },
  "altAbility": {
    "energyUsage" : 12,
    "cooldownTime" : 0.1,
    "damageConfig": {
      "timeout": 0.1,
      "baseDamage": 2.25
    },
    "stances": {
      "swing": {
        "duration": 0.05
      }
    }
  },
  "altAbilityType": "flurry",
  "animation": "/items/active/starbound/weapons/spear.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t6a.png<directives>",
    "handle": ""
  },
  "category": "spear"
}
