{
  "inventoryIcon": "t6s.png<directives>",
  "primaryAbilityType": "sb_spear",
  "elementalType": "physical",
  "price": 1200,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "fireTime": 1.25
  },
  "altAbilityType": "spearcharge",
  "animation": "/items/active/starbound/weapons/spear.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t6s.png<directives>",
    "handle": ""
  },
  "category": "spear"
}
