{
  "inventoryIcon": "t6s.png<directives>",
  "primaryAbilityType": "sb_spear",
  "elementalType": "physical",
  "price": 1200,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "fireTime": 1.25
  },
  "altAbilityType": "spearcharge",
  "animationParts": {
    "blade": "t6s.png<directives>",
    "handle": ""
  }
}
