{
  "species" : ["avian","glitch","human","floran","apex","hylotl","novakid"],
  "unknownSpeciesRecipes" : "human",
  "weaponTiers" : [1, 4],
  "branchingWeaponTiers" : 2,
  "weapons" : ["sb_%stier%sbroadsword","sb_%stier%sdagger","sb_%stier%saxe","sb_%stier%sspear","sb_%stier%shammer","sb_%stier%sshortsword"]
}