{
  "builderConfig": [{
      "altAbilities_physical": [
        "bladecharge",
        "downstab",
        "parry",
        "risingslash",
        "spinslash",
        "superspinslash"
      ],
      "altAbilities": [
        "giantsword",
        "travelingslash",
        "blinkexplosion",
        "blinkslash",
        "traildash"
      ]
    }
  ]
}
