{
	"fixedRarity" : true,
	"twoHanded" : true,
	"scripts" : ["/items/active/weapons/melee/meleeweapon.lua"],
	"animation" : "/items/active/starbound/weapons/broadsword.animation",
	"tooltipKind" : "sb_sword2",
	"category" : "broadsword",
	"maxStack" : 1,
	"sb_dyeable" : true,

	"rarity" : "common",
	"level" : 2,
	"price" : 750,
	"directives" : "?replace;ffca8a=ccc;e0975c=9e9e9e;a85636=616161;6f2919=383838",
	"inventoryIcon" : "t2.png<directives>",
	"animationParts" : {
	  "blade" : "t2.png<directives>",
	  "handle" : ""
	},
	"animationCustom" : {},
	"elementalType" : "physical",
	"altAbilityType" : "risingslash",
	"primaryAbilityType" : "sb_meleeslash"
}