{
  "fixedRarity": true,
  "sb_dyeable": true,

  "rarity": "uncommon",
  "level": 3,
  "price": 750,
  "directives": "?replace;ffca8a=e6e6e6;e0975c=b6b6b6;a85636=7b7b7b;6f2919=373737",
  "inventoryIcon": "t3.png<directives>",
  "animationParts": {
    "blade": "t3.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "altAbilityType": "risingslash",
  "primaryAbilityType": "sb_meleeslash"
}
