{
  "inventoryIcon": "t5a.png<directives>",
  "primaryAbilityType": "sb_meleeslash",
  "elementalType": "physical",
  "price": 1500,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "category": "broadsword",
  "animationParts": {
    "blade": "t5a.png<directives>",
    "handle": ""
  },
  "animation": "/items/active/starbound/weapons/broadsword.animation",
  "animationCustom": [],
  "primaryAbility": {
    "fireTime": 0.67,
    "baseDps": 8.75,
    "stances": {
      "windup2": {
        "duration": 0.09
      },
      "windup3": {
        "duration": 0.09
      }
    }
  },
  "altAbilityType": "superspinslash"
}
