{
  "altAbility": {
    "energyUsage": 15,
    "cooldownTime": 0.25
  },
  "inventoryIcon": "t5m.png<directives>",
  "primaryAbilityType": "sb_meleeslash",
  "elementalType": "physical",
  "price": 1500,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "category": "broadsword",
  "altAbilityType": "downstab",
  "animation": "/items/active/starbound/weapons/broadsword.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t5m.png<directives>",
    "handle": ""
  },
  "primaryAbility": {
    "fireTime": 0.97,
    "baseDps": 9.5
  }
}
