{
  "altAbility": {
    "energyUsage": 80
  },
  "inventoryIcon": "t5s.png<directives>",
  "primaryAbilityType": "sb_meleeslash",
  "elementalType": "physical",
  "price": 1500,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "category": "broadsword",
  "altAbilityType": "flipslash",
  "animation": "/items/active/starbound/weapons/broadsword.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t5s.png<directives>",
    "handle": ""
  },
  "primaryAbility": {
    "fireTime": 1.13,
    "baseDps": 9,
    "cooldownTime": 1.75,
    "stances": {
      "windup2": {
        "duration": 0.2
      },
      "windup3": {
        "duration": 0.2
      }
    }
  }
}
