{
  "inventoryIcon": "t6m.png<directives>",
  "primaryAbilityType": "sb_meleeslash",
  "elementalType": "physical",
  "price": 1500,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "category": "broadsword",
  "altAbilityType": "superspinslash",
  "animation": "/items/active/starbound/weapons/broadsword.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t6m.png<directives>",
    "handle": ""
  },
  "primaryAbility": {
    "fireTime": 0.67,
    "baseDps": 8.75,
    "stances": {
      "windup2": {
        "duration": 0.09
      },
      "windup3": {
        "duration": 0.09
      }
    }
  },
  "altAbility": {
    "energyUsage": 180,
    "hoverYSpeed": 10,
    "damageConfig": {
      "timeout": 0.05,
      "baseDamage": 1.75,
      "knockback": 30
    },
    "stances": {
      "windup": {
        "duration": 0.01
      },
      "slash": {
        "duration": 0.01
      }
    }
  }
}
