{
  "inventoryIcon": "t6a.png<directives>",
  "primaryAbilityType": "sb_meleeslash",
  "elementalType": "physical",
  "price": 1500,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "category": "broadsword",
  "animationParts": {
    "blade": "t6a.png<directives>",
    "handle": ""
  },
  "animation": "/items/active/starbound/weapons/broadsword.animation",
  "animationCustom": [],
  "altAbility": {
    "energyUsage": 150
  },
  "primaryAbility": {
    "fireTime": 0.97,
    "baseDps": 9.5
  },
  "altAbilityType": "bladecharge"
}
