{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/games/sb_gameheader.png",
      "fileBody": "/interface/games/sb_gamebody.png",
      "fileFooter": "/interface/games/sb_gamefooter.png"
    },
    "scriptCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [0.8, 11, 301, 222],
      "captureMouseEvents": true
    },
    "close": {
      "zlevel": 2,
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [285, 228]
    },
    "sliderGridSize": {
      "zlevel": 2,
      "visible": false,
      "type": "slider",
      "position": [120, 212],
      "gridImage": "/interface/optionsmenu/smallselection.png",
      "callback": "setGridSize",
      "range": [0, 7, 1] //actual value is n+3
    }
  },

  "scripts": ["/interface/games/sb_lightsoff/game.lua"],
  "scriptDelta": 5,

  "scriptWidgetCallbacks": ["setGridSize"],
  "canvasClickCallbacks": {
    "scriptCanvas": "canvasClickEvent"
  },
  "canvasKeyCallbacks": {
    "scriptCanvas": "canvasKeyEvent"
  },

  "gameConfig": {
    "lightGridSize": 5,
    "lightSize": 16,
    "lightShrink": 2,
    "lightStart": [151, 113]
  },

  "gameText": {
    "intro": {
      "text": "^font=craft;Lights Off 15: Reality's Collapse\nClick anywhere!",
      "y": 20
    },
    "size": {
      "text": "^font=pixelhobo;%s",
      "x": 35,
      "y": 96
    },
    "ending": {
      "text": "^font=craft;^set;^font=craft-b;You won!^reset;\n\nHaving betrayed the heroes and destroyed each and every ^green;Realital Beacon,^reset; you finally secured the ^green;Shreds of Reality^reset; and used them to create the almighty ^font=craft-bi,directives=?setcolor=f0b;Fabric of Reality,^reset; essential for reshaping reality as you see fit!\n\nHowever... the ^font=craft,directives=?setcolor=00f;Powers of the Dark,^reset; whom you allied with during your quest, prepares to betray you...\n\n^font=craft-i;TO BE CONTINUED...^reset;",
      "y": 55,
      "wrapWidth": 275
    }
  },

  "gameColors": {
    "lit": [255, 255, 255],
    "unlit": [66, 66, 66],
    "border": [255, 255, 255],
    "text": [255, 255, 128]
  },

  "gameSounds": {
    "toggleLight": "/sfx/tools/flashlight_toggle.ogg",
    "start": "/sfx/objects/camera_alert_off.ogg",
    "ending": "/sfx/instruments/musicbox/a2.ogg"
  }
}
