{
  "price": 400,
  "twoHanded": true,
  "scripts": ["/items/active/weapons/bow/bow.lua"],
  "animation": "/items/active/weapons/bow/bow.animation",
  "tooltipKind": "sb_bow",
  "category": "bow",
  "maxStack": 1,
  "radioMessagesOnPickup": ["pickupbow"],

  "inventoryIcon": "<bow>bowicon.png",
  "animationParts": {
    "bow": "<bow>bowfull.png"
  },
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "bow": {
          "properties": {
            "offset": [0.25, 0]
          }
        }
      }
    },
    "sounds": {
      "draw": ["/sfx/gun/bow_draw1.ogg", "/sfx/gun/bow_draw2.ogg", "/sfx/gun/bow_draw3.ogg"],
      "release": ["/sfx/gun/bow_loose.ogg"],
      "perfectRelease": ["/sfx/gun/bow_loose_perfect.ogg"]
    }
  },
  "primaryAbilityType": "bowshot",
  "altAbilityType": "zenshot"
}
