//We need this because animationCustom gets merged and I want the draw to be silent
//No idea why the perfectRelease for the firebow doesn't merge though
{
  "price": 400,
  "twoHanded": false,
  "scripts": ["/items/active/weapons/bow/bow.lua"],
  "animation": "/items/active/weapons/bow/bow.animation",
  "tooltipKind": "sb_bow",
  "category": "uniqueWeapon",
  "maxStack": 1,
  "handGrip": "wrap",

  "inventoryIcon": "<buster>icon.png",
  "animationParts": {
    "bow": "<buster>.png"
  },
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "bow": {
          "properties": {
            "offset": [0.25, 0]
          }
        }
      }
    },
    "sounds": {
      "draw": [],
      "release": ["/sfx/gun/plasma_mp1.ogg"],
      "perfectRelease": ["/sfx/gun/plasma_mp1.ogg"]
    }
  },
  "primaryAbilityType": "sb_bustershot"
}
