{
  "description": "An oversized <color> crayon. Unleash your artistic talent on the world!",
  "rarity": "uncommon",
  "elementalType": "physical",
  "price": 200,
  "level": 3,
  "tooltipKind": "sb_sword2",

  "animation": "/items/active/starbound/weapons/comboshortsword.animation",
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "category": "shortsword",
  "primaryAbilityType": "sb_shortswordcombo",
  "twoHanded": false,
  "maxStack": 1,
  "inventoryIcon": "crayon.png<swaps>",
  "animationParts": {
    "handle": "",
    "blade": "crayon.png<swaps>"
  },
  "primaryAbility": {
    "fireTime": 0.44,
    "baseDps": 12,
    "damageConfig": {
      "damageSourceKind": "slash",
      "statusEffects": ["color<color>"],
      "knockback": 0.4
    }
  },
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "swoosh": {
          "partStates": {
            "swoosh": {
              "fire": {
                "properties": {
                  //"offset": [1.5, 0.75],
                  "image": "swoosh1/crayon.png:<frame><swaps>"
                }
              },
              "fire2": {
                "properties": {
                  //"offset": [1.5, 0.75],
                  "image": "swoosh2/crayon.png:<frame><swaps>"
                }
              }
            }
          }
        }
      }
    }
  }
}
