{
  "animation": "/items/active/starbound/weapons/dagger.animation",
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "tooltipKind": "sb_sword2",
  "category": "shortsword",
  "description": "An oversized <color> crayon. Unleash your artistic talent on the world!",
  "maxStack": 1,
  "inventoryIcon": "crayon.png<swaps>",
  "animationParts": {
    "handle": "",
    "blade": "crayon.png<swaps>"
  },
  "animationCustom": {
    "animatedParts": {
      "stateTypes": {
        "swoosh": {
          "states": {
            "fire": {
              "cycle": 0.14
            }
          }
        }
      },
      "parts": {
        "swoosh": {
          "partStates": {
            "swoosh": {
              "fire": {
                "properties": {
                  "offset": [1.5, 0.75],
                  "image": "crayonswoosh.png:<frameIndex><swaps>"
                }
              }
            }
          }
        }
      }
    },
    "sounds": {
      "fire": ["/sfx/melee/swing_dagger.ogg"]
    }
  },

  "primaryAbility": {
    "fireTime": 0.44,
    "baseDps": 12,
    "damageConfig": {
      "damageSourceKind": "slash",
      "statusEffects": ["color<color>"],
      "knockback": 0.4
    },
    "stances": {
      "idle": {
        "duration": 0.1,
        "armRotation": -90,
        "weaponRotation": -10,
        "weaponOffset": [0, 0.5]
      },
      "windup": {
        "duration": 0.05,
        "armRotation": -20,
        "weaponRotation": -20,
        "weaponOffset": [0, 0.5]
      },
      "fire": {
        "duration": 0.62,
        "armRotation": -135,
        "weaponRotation": 40,
        "weaponOffset": [0, 0.5]
      }
    }
  },

  "rarity": "uncommon",
  "price": 200,
  "level": 3,
  "elementalType": "physical",
  "primaryAbilityType": "sb_meleeslash2",
  "aimOffset": 0
}
