{
  "maxStack": 1,
  "price": 620,
  "muzzleOffset": [-0.3, 0.199],
  "baseOffset": [-1.55, 0],
  "tooltipKind": "sb_gun",
  "category": "crossbow",
  "description": "",
  "twoHanded": true,
  "level": 1,
  "scripts": ["/items/active/weapons/ranged/gun.lua"],
  "animation": "/items/active/weapons/ranged/gun.animation",
  "animationParts": {
    "muzzleFlash": ""
  },
  "animationCustom": {
    "sounds": {
      "fire": ["/sfx/gun/crossbow1.ogg"]
    }
  },

  "elementalType": "physical",
  "primaryAbilityType": "sb_gun2",
  "altAbilityType": "sb_burst",
  "primaryAbility": {
    "projectileType": ["woodenbolt"],
    "fireSounds": ["/sfx/gun/crossbow1.ogg", "/sfx/gun/sniper2.ogg", "/sfx/gun/sniper3.ogg", "/sfx/gun/sniper4.ogg"],
    "fireTime": [0.6, 1.6],
    "baseDps": [5, 5.5],
    "energyUsage": [6, 12],
    "inaccuracy": 0,
    "projectileParameters": {
      "knockbackRange": [15, 20]
    },
    "stances": {
      "idle": {},
      "fire": {},
      "cooldown": {
        "duration": 0.25
      }
    }
  },
  "altAbility": {
    "baseDps": 4.5,
    "stances": {
      "fire": {
        "recoil": true
      }
    }
  },

  "builderConfig": [{
      "nameGenerator": "crossbownames.config:nameGen",
      "animationParts": {
        "barrel": {
          "path": "barrel/<variant>.png",
          "variants": 3,
          "paletteSwap": true
        },
        "butt": {
          "path": "butt/<variant>.png",
          "variants": 3,
          "paletteSwap": true
        },
        "middle": {
          "path": "middle/<variant>.png",
          "variants": 3,
          "paletteSwap": true
        }
      },
      "palette": "/items/active/starbound/colors/crossbow.weaponcolors",
      "iconDrawables": ["butt", "middle", "barrel"],
      "gunParts": ["butt", "middle", "barrel"]
    }
  ]
}
