{
  "builderConfig": [{
      "elementalConfig": {
        "fire": {
          "primaryAbility": {
            "projectileTypes": ["fireswirl", "marioball", "flamethrower"],
            "damageConfig": {
              "statusEffects": ["burning"]
            }
          }
        },
        "ice": {
          "primaryAbility": {
            "projectileTypes": ["icethrower", "icecrabcanosnowball"],
            "damageConfig": {
              "statusEffects": ["frostslow"]
            }
          }
        },
        "electric": {
          "primaryAbility": {
            "projectileTypes": ["electricexplosion", "lightningthrower", "teslabolt", "shock", "electro", "lightning2", "teslaboltsmall", "shockbomb"],
            "damageConfig": {
              "statusEffects": ["electrified"]
            }
          }
        },
        "poison": {
          "primaryAbility": {
            "projectileType": "poisonthrower",
            "damageConfig": {
              "statusEffects": ["weakpoison"]
            }
          }
        }
      }
    }
  ]
}
