{
  "twoHanded": true,
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/staff/staff.lua"],
  "animation": "/items/active/starbound/staves/staff.animation",
  "tooltipKind": "sb_staff",
  "category": "staff",
  "maxStack": 1,

  "price": 1440,
  "inventoryIcon": "<race><staff><n>.png",
  "animationParts": {
    "staff": "<race><staff><n>.png",
    "staffFullbright": "",
    "chargeEffect": "<staff>glow.png"
  },
  "stances": {
    "idle": {
      "armRotation": -90,
      "weaponRotation": 0,
      "twoHanded": false,
      "weaponOffset": [0, 0.4],
      "allowRotate": false,
      "allowFlip": true
    },
    "charge": {
      "duration": 1.3,
      "armRotation": 20,
      "weaponRotation": -20,
      "twoHanded": true,
      "weaponOffset": [0, 0.4],
      "allowRotate": false,
      "allowFlip": true
    },
    "charged": {
      "armRotation": 20,
      "weaponRotation": -20,
      "twoHanded": true,
      "weaponOffset": [0, 0.4],
      "allowRotate": false,
      "allowFlip": true
    },
    "discharge": {
      "duration": 0.5,
      "armRotation": 20,
      "weaponRotation": -20,
      "twoHanded": true,
      "weaponOffset": [0, 0.4],
      "allowRotate": false,
      "allowFlip": true
    },
    "cooldown": {
      "duration": 1.2,
      "armRotation": -20,
      "weaponRotation": -20,
      "twoHanded": true,
      "weaponOffset": [0, 0.4],
      "allowRotate": false,
      "allowFlip": true
    }
  },
  "primaryAbilityType": "sb_staff"
}
