{
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/ranged/gun.lua"],
  "animation": "/items/active/starbound/guns/randomgenerated/gun.animation",
  "animationScripts": ["/items/active/starbound/guns/abilities/ammo.lua"],
  "tooltipKind": "sb_gun4",
  "tooltipFields": {
    "subtitle": "Revolver",
    "damageKindImage": "/interface/sb_tooltips/standardbullet.png"
  },
  "category": "pistol",
  "maxStack": 1,
  "baseOffset": [0.3, 0.15],
  "price": 150,
  "inventoryIcon": "novatier<t>revolver.png",
  "animationParts": {
    "barrel": "",
    "butt": "",
    "middle": "novatier<t>revolver.png",
    "muzzleFlash": "/animations/muzzleflash/bulletmuzzle4/bulletmuzzle4.png"
  },
  "animationCustom": {
    "sounds": {
      "fire": ["/sfx/gun/revolver2.ogg"]
    }
  },
  "primaryAbilityType": "sb_gun",
  "primaryAbility": {
    "class": "sb_AmmoGunFire",
    "scripts": ["/items/active/starbound/guns/abilities/ammogunfire.lua"],
    "fireTime": 0.57,
    "baseDps": 7.25,
    "energyUsage": 14,
    "inaccuracy": 0.016
    //"projectileParameters" : {"speed":150,"timeToLive":3,"power":2.4,"knockback":6}
  }
}
