{
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/ranged/gun.lua"],
  "animation": "/items/active/weapons/ranged/gun.animation",
  "animationScripts": ["/items/active/starbound/guns/abilities/ammo.lua"],
  "tooltipKind": "sb_gun4",
  "tooltipFields": {
    "subtitle": "Revolver"
  },
  "category": "pistol",
  "maxStack": 1,
  "baseOffset": [0.3, 0.15],
  "price": 150,
  "inventoryIcon": "novatier<t>revolver.png",
  "animationParts": {
    "barrel": "",
    "butt": "",
    "middle": "novatier<t>revolver.png",
    "muzzleFlash": "/animations/muzzleflash/bulletmuzzle1/bulletmuzzle1.png"
  },
  "animationCustom": {
    "sounds": {
      "fire": ["/sfx/gun/revolver2.ogg"]
    }
  },
  "primaryAbilityType": "sb_gun",
  "primaryAbility": {
    "class": "sb_AmmoGunFire",
    "scripts": ["/items/active/starbound/guns/abilities/ammogunfire.lua"],
    "fireTime": 0.6,
    "baseDps": 6.25,
    "energyUsage": 18.65,
    "inaccuracy": 0.025,
    "projectileParameters": {
      "knockback": 6
    },
    "stances": {
      "fire": {
        "armRotation": 3,
        "weaponRotation": 3
      },
      "cooldown": {
        "armRotation": 3,
        "weaponRotation": 3
      }
    }
  }
}
