{
  "fixedRarity": true,
  "twoHanded": true,
  "scripts": ["/items/active/weapons/ranged/gun.lua"],
  "animation": "/items/active/weapons/ranged/gun.animation",
  "tooltipKind": "sb_gun2",
  "tooltipFields": {
    "damageKindImage": "/interface/sb_tooltips/standardbullet.png"
  },
  "category": "sniperRifle",
  "maxStack": 1,
  "baseOffset": [0.5, 0],
  "price": 250,
  "inventoryIcon": "novatier<t>rifle.png",
  "animationParts": {
    "barrel": "",
    "butt": "",
    "middle": "novatier<t>rifle.png",
    "muzzleFlash": "/items/active/weapons/ranged/muzzleflash.png"
  },
  "animationCustom": {
    "sounds": {
      "fire": ["/sfx/gun/rifle1.ogg", "/sfx/gun/rifle2.ogg"]
    }
  },
  "primaryAbilityType": "sb_gun2",
  "primaryAbility": {
    "energyUsage": 25.5,
    "baseDps": 8.5,
    "fireTime": 1.3
  }
}
