{
  "fixedRarity": true,

  "rarity": "legendary",
  "price": 100,
  "level": 0.5,
  "inventoryIcon": "starter.png",
  "animationParts": {
    "blade": "starter.png",
    "handle": ""
  },
  "elementalType": "physical",
  "altAbilityType": "parry",
  "primaryAbilityType": "sb_meleeslash",
  "primaryAbility": {
    "baseDps": 10.425
  }
}
