{
  "fixedRarity": true,
  "twoHanded": true,
  "animation": "/items/active/starbound/weapons/broadsword.animation",
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "tooltipKind": "sb_sword2",
  "category": "broadsword",
  "maxStack": 1,

  "rarity": "legendary",
  "price": 100,
  "level": 0.5,
  "inventoryIcon": "starter.png",
  "animationParts": {
    "blade": "starter.png",
    "handle": ""
  },
  "animationCustom": {},
  "elementalType": "physical",
  "altAbilityType": "spinslash",
  "primaryAbilityType": "sb_meleeslash",
  "primaryAbility": {
    "baseDps": 10.425
  }
}
