{
  "colonyTags": ["storage"],
  "printable": false,
  "objectType": "container",
  "tooltipKind": "sb_container",
  "scripts": ["/scripts/sb_container.lua"],
  "category": "storage",
  "description" : "A chest with bright glowing markings throughout.",
  "race": "generic",

  "apexDescription": "A chest for storing tech.",
  "avianDescription": "A solid tech chest. It glows.",
  "floranDescription": "Glowy box hold Floran thingsss.",
  "glitchDescription": "Resolute. I endeavour to fill this chest.",
  "humanDescription": "A basic, dependable tech chest.",
  "hylotlDescription": "A chest in which I can store tech.",
  "novakidDescription" : "Ooh, I bet it's chock full o' valuables.",

  "inventoryIcon": "icons.png:<t>",
  "orientations": [{
      "dualImage": "tier<t>techchest.png:<color>.<key>",
      "imagePosition": [-8, 0],

      "spaceScan": 0.1,
      "anchors": ["bottom"]
    }
  ],

  "openSounds": ["/sfx/objects/chest_small_open.ogg"],
  "closeSounds": ["/sfx/objects/chest_small_close.ogg"],
  "uiConfig": "/interface/sb_chests/chest<slots>.config",
  "frameCooldown": 5,
  "autoCloseCooldown": 3600
}
