{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Sweet ", "Sugary ", "Holiday ", "Candy ", "Jolly ", "Cheery ", "Festive ", "Stripy ", "Merry " ],
      [ { "mode" : "alts" }, "Crusher", "Beater", "Smasher", "Bludgeoner", "Cane", "Ender", "Smacker", "Basher", "Striker" ]
    ]
  ]
}
