{
  "nameGen": [
    {"mode": "alts"},
    [
      {"mode": "serie"},
      [{"mode": "alts"}, "Pathetic ", "Crappy ", "Rotten ", "Unloved ", "Sloppy ", "Blunt ", "Poop ", "Useless ", "Futile ", "Weak ", "Decrepit ", "Wasted ", "Rickety ", "Wobbly ", "Dull ", "Feeble ", "Spoiled ", "Laughable ", "Pointless ", "Unwanted ", "Senseless ", "Silly ", "Naff "],
      [{"mode": "alts"}, "Poker", "Basher", "Prodder", "Slapper", "Beater", "Tickler", "Smacker", "Whacker", "Bastard Sword", "Badgerer", "Wobbler"]
    ]
  ]
}
