{
  "nameGen": [
    {"mode": "alts"},
    [
      {"mode": "serie"},
      [{"mode": "alts"}, "Spray ", "Magma ", "Heat ", "Ashy ", "Inferno ", "Lava ", "Hot ", "Burning ", "Flame ", "Fire ", "Imp ", "Novakid ", "Molten "],
      [{"mode": "alts"}, "Stabber", "Blade", "Sword", "Dicer", "Renderer", "Slicer", "Hacker", "Cutter", "Killer", "Slasher", "Splitter", "Carnage", "Horror", "Calamity", "Carver", "Melter"]
    ]
  ]
}
