{
  "nameGen": [
    {"mode": "alts"},
    [
      {"mode": "serie"},
      [{"mode": "alts"}, "Toxic ", "Poison ", "Deadly ", "Grim ", "Venomous ", "Noxious ", "Virulent ", "Lethal "],
      [{"mode": "alts"}, "Blade", "Broadsword", "Attacker", "Avenger", "Bane", "Sinslasher", "Flasher", "Weapon"]
    ]
  ]
}
