{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "The ", "Miss ", "", "Mr. ", "Holy ", "Beautiful ", "Precious ", "Awesome ", "Wicked ", "Badass ", "Sharp ", "Wild ", "Devilish ", "Dangerous ", "Professor ", "Undead ", "Throbbing ", "Demonic ", "Pleasant ", "Dire ", "Happy ", "Cuddly ", "Alarming ", "Screaming ", "Harrowing ", "Choppy ", "Pirate ", "Thundering ", "Flat ", "Bone ", "The Bone ", "Bony ", "Skeletal ", "Deathly ", "Cartilage ", "Dead ", "Death ", "Skeleton ", "Skull ", "Carrion ", "Bleached ", "Horror ", "The Macabre ", "Terror ", "Grave ", "Cemetary ", "Tomb " ],
      [ { "mode" : "alts" }, "Kill", "Thunder", "Death", "Storm", "Dude", "Thrash", "Rage", "Battle", "Terror", "Crush", "Smash", "Chop", "Crunch", "Slam", "Whack", "Spine", "Skull", "Ear", "Nose", "Ape", "Plant", "Bird", "Fish", "Robot", "Meat", "Bro", "Alien", "Rock", "Wood", "Star", "Space", "Planet", "Deer", "Dawn", "Dusk" ],
      [ { "mode" : "alts" }, "chopper", "slam", "hammer", "squasher", "cuber", "mulcher", "whacker", "breaker", "buckler", "thwacker", "killer", "atron", "slapper", "kisser", "squisher", "dude", "hander", "bringer", "smacker", "thunker" ]
    ]
  ]
}
