{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Painful ", "Merciless ", "Unforgiving ", "Heavy ", "Compact ", "Ferocious ", "Brutal ", "Callous ", "Apathetic ", "Pitiless " ],
      [ { "mode" : "alts" }, "Seat", "Throne", "Steel Chair", "Furniture" ]
    ]
  ]
}
