{
  "disableTimer": true,
  "paneLayout": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_crafting/craftingheader.png",
      "fileBody": "/interface/sb_crafting/craftingbody.png",
      "fileFooter": "/interface/sb_crafting/craftingfooter.png"
    },
    "close": {
      "type": "button",
      "pressedOffset": [0, 0],
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "position": [321, 261]
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting",
      "subtitle": "^#b9b5b2;Create all kinds of wonderful things!",
      "position": [-5, 252],
      "icon": {
        "type": "image",
        "file": "/interface/sb_crafting/craftingicon.png",
        "position": [0, -20],
        "zlevel": -1
      }
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/sb_crafting/shine.png",
      "position": [-15, 0],
      "zlevel": -10
    },
    "lblSchematics": {
      "type": "label",
      "position": [88, 244],
      "hAnchor": "mid",
      "value": "^#b9b5b2;BLUEPRINTS"
    },
    "lblProducttitle": {
      "type": "label",
      "position": [265, 244],
      "hAnchor": "mid",
      "value": "^#b9b5b2;PRODUCT"
    },
    "spinCount": {
      "type": "spinner",
      "leftBase": "/interface/sb_crafting/pick.png:0",
      "leftHover": "/interface/sb_crafting/pick.png:2",
      "rightBase": "/interface/sb_crafting/pick.png:1",
      "rightHover": "/interface/sb_crafting/pick.png:3",
      "pressedOffset": [0, 0],
      "position": [219, 45],
      "upOffset": 34
    },
    "lblAmountInput": {
      "type": "image",
      "file": "/interface/sb_crafting/amount.png",
      "position": [225, 45],
      "zlevel": 3
    },
    "tbSpinCount": {
      "type": "textbox",
      "position": [229, 46],
      "textAlign": "center",
      "maxWidth": 18,
      "zlevel": 3.1,
      "regex": "x?\\d{0,4}",
      "hint": ""
    },
    "btnCraft": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "position": [271, 43],
      "caption": "Craft"
    },
    "btnStopCraft": {
      "type": "button",
      "base": "/interface/buttonactive.png",
      "hover": "/interface/buttonactivehover.png",
      "position": [271, 43],
      "caption": "Stop"
    },
    "imgCraftBg": {
      "type": "image",
      "file": "/interface/crafting/craftbg.png",
      "position": [196, 40],
      "zlevel": -5
    },
    "currentRecipeIcon": {
      "type": "itemslot",
      "callback": "null",
      "position": [197, 41]
    },
    "btnFilterHaveMaterials": {
      "type": "button",
      "base": "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked": "/interface/crafting/checkboxcheck.png",
      "pressedOffset": [0, 0],
      "checkable": true,
      "checked": false,
      "position": [26, 84]
    },
    "lblProduct": {
      "type": "label",
      "position": [91, 83],
      "hAnchor": "mid",
      "value": "MATERIALS AVAILABLE"
    },

    "scrollArea": {
      "type": "scrollArea",
      "rect": [5, 94, 174, 230],
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/interface/crafting/craftableselected2.png",
            "unselectedBG": "/interface/crafting/craftablebackground.png",
            "spacing": [0, 1],
            "memberSize": [156, 20],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/crafting/craftablebackground.png",
                "position": [0, 0],
                "zlevel": -1
              },
              "itemName": {
                "type": "label",
                "position": [21, 10],
                "size": [156, 80],
                "vAnchor": "mid",
                "hAnchor": "left",
                "wrapWidth": 96,
                "value": ""
              },
              "itemIcon": {
                "type": "itemslot",
                "position": [1, 1],
                "callback": "null"
              },
              "level": {
                "type": "label",
                "position": [138, 9],
                "hAnchor": "mid",
                "value": ""
              },
              "newIcon": {
                "type": "image",
                "position": [117, 5],
                "file": "/interface/crafting/new.png"
              },
              "moneyIcon": {
                "type": "image",
                "position": [122, 1],
                "hAnchor": "left",
                "file": "/interface/money.png"
              },
              "priceLabel": {
                "type": "label",
                "position": [134, 1],
                "hAnchor": "left",
                "value": "0"
              },
              "notcraftableoverlay": {
                "type": "image",
                "file": "/interface/crafting/notcraftableoverlay.png",
                "position": [0, 0],
                "zlevel": 1
              }
            }
          }
        }
      }
    },
    "description": {
      "type": "widget",
      "position": [190, 50],
      "size": [140, 320]
    },
    "filter": {
      "type": "textbox",
      "position": [56, 68],
      "hint": "Search",
      "maxWidth": 70,
      "escapeKey": "close",
      "enterKey": "filter",
      "focus": true
    },
    "btnUpgrade": {
      "type": "button",
      "disabledImage": "/interface/crafting/upgradeUnready.png",
      "base": "/interface/crafting/upgradeReady.png",
      "position": [139, 258],
      "zlevel": 5
    },
    "categories": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": [{
          "pressedOffset": [0, -1],
          "position": [39, 44],
          "baseImage": "/interface/sb_crafting/categories.png:smith",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:smith",
          "data": {
            "filter": ["tools"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [59, 44],
          "baseImage": "/interface/sb_crafting/categories.png:upgrades",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:upgrades",
          "data": {
            "filter": ["upgrades"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [79, 44],
          "baseImage": "/interface/sb_crafting/categories.png:craft",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:craft",
          "data": {
            "filter": ["craftingstations"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [99, 44],
          "baseImage": "/interface/sb_crafting/categories.png:instruments",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:instruments",
          "data": {
            "filter": ["sb_instruments"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [119, 44],
          "baseImage": "/interface/sb_crafting/categories.png:other",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:other",
          "data": {
            "filter": ["sb_other", "other"]
          }
        }
      ]
    },
    "rarities": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": [{
          "position": [8, 231],
          "baseImage": "/interface/sb_crafting/rarities.png:0",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:5",
          "data": {
            "rarity": ["common"]
          }
        }, {
          "position": [14, 231],
          "baseImage": "/interface/sb_crafting/rarities.png:1",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:6",
          "data": {
            "rarity": ["uncommon"]
          }
        }, {
          "position": [20, 231],
          "baseImage": "/interface/sb_crafting/rarities.png:2",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:7",
          "data": {
            "rarity": ["rare"]
          }
        }, {
          "position": [26, 231],
          "baseImage": "/interface/sb_crafting/rarities.png:3",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:8",
          "data": {
            "rarity": ["legendary"]
          }
        }, {
          "position": [32, 231],
          "baseImage": "/interface/sb_crafting/rarities.png:4",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:9",
          "data": {
            "rarity": ["essential"]
          }
        }
      ]
    }
  }
}
