{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_crafting/craftingheader.png",
      "fileBody": "/interface/sb_crafting/researchbody.png",
      "fileFooter": "/interface/sb_crafting/craftingfooter.png"
    },
    "close": {
      "type": "button",
      "pressedOffset": [0, 0],
      "base": "/interface/sb_inventory/x.png",
      "hover": "/interface/sb_inventory/xhover.png",
      "pressed": "/interface/sb_inventory/xpress.png",
      "position": [321, 263]
    },
    "windowtitle": {
      "type": "title",
      "title": "RESEARCH STATION",
      "subtitle": "^#b9b5b2;Develop blueprints!",
      "position": [-5, 252],
      "icon": {
        "type": "image",
        "file": "/interface/sb_crafting/craftingicons.png:researchstation",
        "position": [0, -20],
        "zlevel": -1
      }
    },
    "categories": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": []
    },
    "objectImage": {
      "type": "image",
      "position": [265, 170],
      "centered": true,
      "minSize": [32, 32],
      "maxSize": [32, 32],
      "zlevel": 7
    },
    "objectUnderlay": {
      "type": "image",
      "position": [265, 170],
      "centered": true,
      "minSize": [48, 48],
      "maxSize": [48, 48],
      "zlevel": 6
    },
    "shortdescription": {
      "type": "label",
      "position": [225, 237],
      "vAnchor": "top",
      "size": [40, 220]
    },
    "itemSubtitle": {
      "type": "label",
      "position": [225, 227],
      "vAnchor": "top",
      "size": [40, 220]
    },
    "description": {
      "type": "label",
      "position": [206, 141],
      "wrapWidth": 110,
      "vAnchor": "top",
      "size": [40, 220]
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/sb_crafting/shine.png",
      "position": [-15, 0],
      "zlevel": -10
    },
    "lblSchematics": {
      "type": "label",
      "position": [88, 243],
      "hAnchor": "mid",
      "value": "SCHEMATICS"
    },
    "lblProducttitle": {
      "type": "label",
      "position": [265, 243],
      "hAnchor": "mid",
      "value": "PRODUCT"
    },
    "searchBar": {
      "type": "textbox",
      "position": [56, 68],
      "hint": "Search",
      "maxWidth": 70,
      "focus": false,
      "regex": "[^\"\\%]*$"
    },
    "imgPlayerMoneyIcon": {
      "type": "image",
      "position": [7, 23],
      "file": "/interface/money.png"
    },
    "lblPlayerMoney": {
      "type": "label",
      "position": [21, 23],
      "hAnchor": "left",
      "value": "0"
    },
    "lblDetails": {
      "type": "label",
      "position": [248, 41],
      "hAnchor": "mid",
      "value": "Hover for details >",
      "visible": false
    },
    "currentRecipeIconOutput3": {
      "type": "itemslot",
      "showRarity": true,
      "callback": "null",
      "position": [314, 36]
    },
    "imgDetailsBg": {
      "type": "image",
      "file": "/interface/crafting/craftbg.png?flipx",
      "position": [196, 35],
      "zlevel": -5
    },
    "btnCraft": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "position": [204, 60],
      "callback": "craft",
      "caption": "Develop",
      "disabled": true
    },
    "imgCraftBg": {
      "type": "image",
      "file": "/interface/crafting/craftbg.png?flipx",
      "position": [196, 57],
      "zlevel": -5
    },
    "currentRecipeIconInput1": {
      "type": "itemslot",
      "showRarity": true,
      "callback": "null",
      "position": [260, 58]
    },
    "lblInput": {
      "type": "label",
      "position": [282, 58],
      "hAnchor": "mid",
      "fontSize": 16,
      "value": "+",
      "visible": false
    },
    "currentRecipeIconInput2": {
      "type": "itemslot",
      "showRarity": true,
      "callback": "null",
      "position": [284, 58]
    },
    "lblOutput": {
      "type": "label",
      "position": [308, 58],
      "hAnchor": "mid",
      "fontSize": 16,
      "value": "=",
      "visible": false
    },
    "currentRecipeIconOutput1": {
      "type": "itemslot",
      "callback": "null",
      "position": [314, 58]
    },
    "currentRecipeIconOutput2": {
      "type": "itemslot",
      "callback": "null",
      "position": [199, 217],
      "visible": false,
      "showRarity": false,
      "backingImage": "/interface/inventory/portrait.png",
      "showBackingImageWhenFull": true
    },

    "scrollArea": {
      "type": "scrollArea",
      "rect": [5, 94, 174, 230],
      "children": {
        "itemList": {
          "type": "list",
          "callback": "itemSelected",
          "schema": {
            "selectedBG": "/interface/sb_crafting/craftableselected.png",
            "unselectedBG": "/interface/sb_crafting/craftablebackground.png",
            "spacing": [0, 1],
            "memberSize": [156, 20],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/sb_crafting/craftablebackground.png",
                "position": [0, 0],
                "zlevel": -1
              },
              "itemName": {
                "type": "label",
                "position": [21, 10],
                "vAnchor": "mid",
                "hAnchor": "left",
                "wrapWidth": 100,
                "value": ""
              },
              "itemIcon": {
                "type": "itemslot",
                "position": [1, 1],
                "callback": "null"
              },
              "level": {
                "type": "label",
                "position": [138, 9],
                "hAnchor": "mid",
                "value": ""
              },
              "newIcon": {
                "type": "image",
                "position": [130, 2],
                "file": "/interface/sb_crafting/new.png"
              },
              "moneyIcon": {
                "type": "image",
                "position": [122, 9.8],
                "hAnchor": "left",
                "file": "/interface/money.png"
              },
              "priceLabel": {
                "type": "label",
                "position": [134, 9],
                "hAnchor": "left",
                "value": "0"
              }
            }
          }
        }
      }
    }
  },
  "scripts": ["/interface/windowconfig/sb_craftingresearch.lua"],
  "scriptDelta": 15,
  "scriptWidgetCallbacks": ["searchBar", "craft", "categories", "itemSelected"],
  "ownedIcon": "/interface/sb_crafting/owned.png"
}
