{
  "craftingSound": "/sfx/interface/crafting_cooking.ogg",
  "disableTimer": true,
  "paneLayout": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_crafting/craftingheader.png",
      "fileBody": "/interface/sb_crafting/cookingbody.png",
      "fileFooter": "/interface/sb_crafting/craftingfooter.png"
    },
    "close": {
      "type": "button",
      "pressedOffset": [0, 0],
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "position": [321, 297]
    },
    "windowtitle": {
      "type": "title",
      "title": "Cooking Station",
      "subtitle": "^#b9b5b2;For preparing something tasty!",
      "icon": {
        "type": "image",
        "file": "/interface/sb_crafting/craftingicons.png:culinaryarts",
        "zlevel": -1
      }
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/sb_crafting/shine3.png",
      "position": [-15, 18],
      "zlevel": -10
    },
    "lblSchematics": {
      "type": "label",
      "position": [88, 280],
      "hAnchor": "mid",
      "value": "^#b9b5b2;RECIPES"
    },
    "lblProductTitle": {
      "type": "label",
      "position": [265, 280],
      "hAnchor": "mid",
      "value": "^#b9b5b2;DISH"
    },
    "spinCount": {
      "type": "spinner",
      "leftBase": "/interface/sb_crafting/pick.png:0",
      "leftHover": "/interface/sb_crafting/pick.png:2",
      "rightBase": "/interface/sb_crafting/pick.png:1",
      "rightHover": "/interface/sb_crafting/pick.png:3",
      "pressedOffset": [0, 0],
      "position": [219, 45],
      "upOffset": 34
    },
    "lblAmountInput": {
      "type": "image",
      "file": "/interface/sb_crafting/amount.png",
      "position": [225, 45],
      "zlevel": 3
    },
    "tbSpinCount": {
      "type": "textbox",
      "position": [229, 46],
      "textAlign": "center",
      "maxWidth": 18,
      "zlevel": 3.1,
      "regex": "x?\\d{0,4}",
      "hint": ""
    },
    "btnCraft": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "position": [271, 43],
      "caption": "Prepare"
    },
    "btnStopCraft": {
      "type": "button",
      "base": "/interface/buttonactive.png",
      "hover": "/interface/buttonactivehover.png",
      "position": [271, 43],
      "caption": "Stop"
    },
    "imgCraftBg": {
      "type": "image",
      "file": "/interface/crafting/craftbg.png",
      "position": [196, 40],
      "zlevel": -5
    },
    "currentRecipeIcon": {
      "type": "itemslot",
      "callback": "null",
      "position": [197, 41]
    },
    "btnFilterHaveMaterials": {
      "type": "button",
      "base": "/interface/sb_crafting/checkboxnocheck.png",
      "baseImageChecked": "/interface/sb_crafting/checkboxcheck.png",
      "pressedOffset": [0, 0],
      "checkable": true,
      "checked": false,
      "position": [26, 120]
    },
    "lblProduct": {
      "type": "label",
      "position": [91, 119],
      "hAnchor": "mid",
      "value": "INGREDIENTS AVAILABLE"
    },
    "scrollArea": {
      "type": "scrollArea",
      "rect": [5, 130, 174, 266],
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/interface/crafting/craftableselected2.png",
            "unselectedBG": "/interface/crafting/craftablebackground.png",
            "spacing": [0, 1],
            "memberSize": [156, 20],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/crafting/craftablebackground.png",
                "position": [0, 0],
                "zlevel": -1
              },
              "itemName": {
                "type": "label",
                "position": [21, 10],
                "size": [156, 80],
                "vAnchor": "mid",
                "hAnchor": "left",
                "wrapWidth": 96,
                "value": ""
              },
              "itemIcon": {
                "type": "itemslot",
                "position": [1, 1],
                "callback": "null"
              },
              "newIcon": {
                "type": "image",
                "position": [117, 5],
                "file": "/interface/crafting/new.png"
              },
              "moneyIcon": {
                "type": "image",
                "position": [122, 1],
                "hAnchor": "left",
                "file": "/interface/money.png"
              },
              "priceLabel": {
                "type": "label",
                "position": [134, 1],
                "hAnchor": "left",
                "value": "0"
              },
              "notcraftableoverlay": {
                "type": "image",
                "file": "/interface/crafting/notcraftableoverlay.png",
                "position": [0, 0],
                "zlevel": 1
              }
            }
          }
        }
      }
    },
    "description": {
      "type": "widget",
      "position": [190, 86],
      "size": [140, 320]
    },
    "filter": {
      "type": "textbox",
      "position": [56, 104],
      "hint": "Search",
      "maxWidth": 70,
      "escapeKey": "close",
      "enterKey": "filter",
      "focus": true
    },
    "categories": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": [{
          "position": [20, 81],
          "baseImage": "/interface/sb_crafting/categories.png:main",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:main",
          "data": {
            "filter": ["sb_entree", "mains"]
          }
        }, {
          "position": [40, 81],
          "baseImage": "/interface/sb_crafting/categories.png:side",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:side",
          "data": {
            "filter": ["sb_side", "sides"]
          }
        }, {
          "position": [60, 81],
          "baseImage": "/interface/sb_crafting/categories.png:dessert",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:dessert",
          "data": {
            "filter": ["sb_dessert", "desserts"]
          }
        }, {
          "position": [80, 81],
          "baseImage": "/interface/sb_crafting/categories.png:snack",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:snack",
          "data": {
            "filter": ["snacks"]
          }
        }, {
          "position": [100, 81],
          "baseImage": "/interface/sb_crafting/categories.png:drink",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:drink",
          "data": {
            "filter": ["sb_drink", "drinks"]
          }
        }, {
          "position": [120, 81],
          "baseImage": "/interface/sb_crafting/categories.png:condiment",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:condiment",
          "data": {
            "filter": ["sb_condiments", "condiments"]
          }
        }, {
          "position": [140, 81],
          "baseImage": "/interface/sb_crafting/categories.png:campfire",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:campfire",
          "data": {
            "filter": ["campfire"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [8, 61],
          "baseImage": "/interface/sb_crafting/categories.png:healing",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:healing",
          "data": {
            "filter": ["sb_healing"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [26, 61],
          "baseImage": "/interface/sb_crafting/categories.png:health",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:health",
          "data": {
            "filter": ["sb_health"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [44, 61],
          "baseImage": "/interface/sb_crafting/categories.png:energy",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:energy",
          "data": {
            "filter": ["sb_energy"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [62, 61],
          "baseImage": "/interface/sb_crafting/categories.png:energyregen",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:energyregen",
          "data": {
            "filter": ["sb_energyregen"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [80, 61],
          "baseImage": "/interface/sb_crafting/categories.png:rage",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:rage",
          "data": {
            "filter": ["sb_rage"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [98, 61],
          "baseImage": "/interface/sb_crafting/categories.png:armor",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:armor",
          "data": {
            "filter": ["sb_protection"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [116, 61],
          "baseImage": "/interface/sb_crafting/categories.png:runboost",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:runboost",
          "data": {
            "filter": ["sb_runboost"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [134, 61],
          "baseImage": "/interface/sb_crafting/categories.png:jumpboost",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:jumpboost",
          "data": {
            "filter": ["sb_jumpboost"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [152, 61],
          "baseImage": "/interface/sb_crafting/categories.png:swimboost",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:swimboost",
          "data": {
            "filter": ["sb_swimboost"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [8, 41],
          "baseImage": "/interface/sb_crafting/categories.png:glow",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:glow",
          "data": {
            "filter": ["sb_glow"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [26, 41],
          "baseImage": "/interface/sb_crafting/categories.png:thorns",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:thorns",
          "data": {
            "filter": ["sb_thorns"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [44, 41],
          "baseImage": "/interface/sb_crafting/categories.png:nova",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:nova",
          "data": {
            "filter": ["sb_nova"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [62, 41],
          "baseImage": "/interface/sb_crafting/categories.png:electrified",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:electrified",
          "data": {
            "filter": ["sb_electrified"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [80, 41],
          "baseImage": "/interface/sb_crafting/categories.png:lowgrav",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:lowgrav",
          "data": {
            "filter": ["sb_lowgrav"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [98, 41],
          "baseImage": "/interface/sb_crafting/categories.png:bouncy",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:bouncy",
          "data": {
            "filter": ["sb_bouncy"]
          }
        }, {
          "pressedOffset": [0, -1],
          "position": [116, 41],
          "baseImage": "/interface/sb_crafting/categories.png:other",
          "baseImageChecked": "/interface/sb_crafting/categoriesselected.png:other",
          "data": {
            "filter": ["sb_other", "sb_cooking_other"]//cooking_other for snowballs
          }
        }
      ]
    },
    "rarities": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": [{
          "position": [8, 267],
          "baseImage": "/interface/sb_crafting/rarities.png:0",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:5",
          "data": {
            "rarity": ["common"]
          }
        }, {
          "position": [14, 267],
          "baseImage": "/interface/sb_crafting/rarities.png:1",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:6",
          "data": {
            "rarity": ["uncommon"]
          }
        }, {
          "position": [20, 267],
          "baseImage": "/interface/sb_crafting/rarities.png:2",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:7",
          "data": {
            "rarity": ["rare"]
          }
        }, {
          "position": [26, 267],
          "baseImage": "/interface/sb_crafting/rarities.png:3",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:8",
          "data": {
            "rarity": ["legendary"]
          }
        }, {
          "position": [32, 267],
          "baseImage": "/interface/sb_crafting/rarities.png:4",
          "baseImageChecked": "/interface/sb_crafting/rarities.png:9",
          "data": {
            "rarity": ["essential"]
          }
        }
      ]
    }
  }
}
