{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/bookmarks/edit/header.png",
      "fileBody": "/interface/bookmarks/edit/body.png",
      "fileFooter": "/interface/bookmarks/edit/footer.png"
    },
    "ok": {
      "type": "button",
      "base": "/interface/bookmarks/edit/buttonup.png",
      "hover": "/interface/bookmarks/edit/buttonover.png",
      "position": [108, 28],
      "caption": "ACCEPT"
    },
    "remove": {
      "type": "button",
      "base": "/interface/bookmarks/edit/redbuttonup.png",
      "hover": "/interface/bookmarks/edit/redbuttonover.png",
      "position": [57, 28],
      "caption": "DELETE"
    },
    "close": {
      "type": "button",
      "callback": "close",
      "base": "/interface/bookmarks/edit/buttonup.png",
      "hover": "/interface/bookmarks/edit/buttonover.png",
      "position": [6, 28],
      "caption": "CANCEL"
    },
    "lblTitle": {
      "type": "label",
      "position": [80, 92],
      "hAnchor": "mid",
      "vAnchor": "bottom",
      "centered": true,
      "fontSize": 16,
      "value": "NEW BOOKMARK"
    },
    "imgIcon": {
      "type": "image",
      "position": [10, 66],
      "file": "/interface/bookmarks/icons/barren.png"
    },
    "lblPlanetName": {
      "type": "label",
      "position": [30, 78],
      "hAnchor": "left",
      "vAnchor": "top",
      "value": ""
    },
    "name": {
      "type": "textbox",
      "position": [11, 50],
      "hint": "Enter a name for this location",
      "enterKey": "ok",
      "escapeKey": "close",
      "maxWidth": 134,
      "regex": "[a-zA-Z0-9 '-?!.]{0,28}"
    }
  },
  "iconImagePath": "/interface/bookmarks/icons/%s.png",
  "scriptWidgetCallbacks": [
    "ok",
    "remove",
    "name"
  ],
  "scripts": ["/interface/windowconfig/sb_editbookmark.lua"]
}
