{
  "onShowSound": [""],
  "paneLayout": {
    "panefeature": {
      "type": "panefeature"
    },
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_quests/newquest/header.png",
      "fileBody": "/interface/sb_quests/newquest/body.png",
      "fileFooter": "/interface/sb_quests/newquest/footer.png"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "press": "/interface/xpress.png",
      "position": [261, 247]
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "position": [0, 254],
      "icon": {
        "type": "image",
        "file": "/interface/quests/quest.png",
        //"file" : "/interface/inventory/portrait.png?multiply=0000",
        "position": [0, 0],
        "zlevel": 4
      }
    },
    "nqImage": {
      "type": "image",
      "file": "/interface/sb_quests/newquest/NewQuest.png",
      "position": [30, 156], //x8, x30
      "zlevel": -10
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/sb_quests/newquest/shine.png",
      "position": [0, 0],
      "zlevel": -10
    },
    "bgOverlay": {
      "type": "image",
      "file": "/interface/sb_quests/newquest/details.png",
      "position": [3, 37],
      "zlevel": -10
    },
    "btnAccept": {
      "type": "button",
      "base": "/interface/sb_quests/acceptUp.png",
      "hover": "/interface/sb_quests/acceptOver.png",
      "position": [175, 48],
      "caption": ""
    },
    "btnDecline": {
      "type": "button",
      "base": "/interface/sb_quests/newquest/rejectup.png",
      "hover": "/interface/sb_quests/newquest/rejectover.png",
      "disabledImage": "/interface/sb_quests/newquest/rejectup.png?brightness=-30",
      "position": [120, 48],
      "caption": ""
    },
    "rewardItems": {
      "type": "itemgrid",
      "position": [8, 47],
      "dimensions": [5, 1],
      "spacing": [22, 19],
      "callback": "null",
      "backingImage": "/interface/inventory/empty.png"
    },

    "portraitImage": {
      "visible": false,
      "type": "image",
      "position": [14, 174], //156 176
      "offset": [0, -50],
      "scale": 1.5,
      "centered": true,
      "zlevel": 3
    },
    /*
    "portraitImage" : {
    "type" : "image",
    "position" : [16, 178],//156 176
    "offset" : [0, -45],
    "scale" : 1.375,
    "minSize":[46,46],
    "maxSize":[46,46],
    "centered" : true,
    "zlevel" : 3
    },
     */
    "portraitTitle": {
      "type": "label",
      "position": [8, 144], //140
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 180,
      "lineSpacing": 1.0,
      "value": "",
      "color": "white",
      "zlevel": 9
    },
    "labelRewards": {
      "type": "label",
      "position": [12, 68],
      "fontSize": 8,
      "value": "REWARDS:",
      "color": [155, 227, 214]
    },
    "lblQuestTitle": {
      "type": "label",
      "position": [140, 136],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 180,
      "lineSpacing": 1,
      "value": "Secret of the Avian Troll Master",
      "color": [155, 227, 214],
      "zlevel": 9
    },
    "lblQuestBody": {
      "type": "label",
      "position": [9, 128],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 264,
      "lineSpacing": 1,
      "value": "quest body of the Secret of the Avian Troll Master quest bla",
      "color": "white",
      "zlevel": 9
    }
  }
}
