{
  "onShowSound": [
    ""
  ],
  "paneLayout": {
    "panefeature": {
      "type": "panefeature"
    },
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_quests/newquest/header.png",
      "fileBody": "/interface/sb_quests/newquest/body.png",
      "fileFooter": "/interface/sb_quests/newquest/footer.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "position": [0, 254],
      "icon": {
        "type": "image",
        "file": "/interface/sb_inventory/portrait.png",
        "position": [0, 0],
        "zlevel": 4
      }
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/sb_quests/newquest/shine.png",
      "position": [0, 0],
      "zlevel": -10
    },
    "bgOverlay": {
      "type": "image",
      "file": "/interface/sb_quests/newquest/details.png",
      "position": [3, 37],
      "zlevel": -10
    },
    "btnAccept": {
      "type": "button",
      "base": "/interface/sb_quests/sadokayup.png",
      "hover": "/interface/sb_quests/sadokayover.png",
      "position": [155, 48],
      "caption": ""
    },
    "imgComplete": {
      "type": "image",
      "file": "/interface/sb_quests/questfailed.png",
      "position": [30, 153]
    },
    "portraitImage": {
      "type": "image",
      "position": [14, 174], //156 176
      "offset": [0, -50],
      "scale": 1.3,
      "centered": true,
      "zlevel": 3
    },
    "portraitTitle": {
      "type": "label",
      "position": [22, 144], //140
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 180,
      "lineSpacing": 1.0,
      "value": "",
      "color": "white"
    },
    "rewardItems": {
      "type": "itemgrid",
      "position": [8, 47],
      "dimensions": [5, 1],
      "spacing": [22, 19],
      "callback": "null",
      "backingImage": "/interface/sb_inventory/empty.png"
    },
    "lblQuestTitle": {
      "type": "label",
      "position": [140, 136],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 180,
      "lineSpacing": 1.0,
      "value": "Secret of the Avian Troll Master",
      "color": [155, 227, 214]
    },
    "lblQuestBody": {
      "type": "label",
      "position": [9, 128],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 264,
      "lineSpacing": 1.0,
      "value": "quest body of the Secret of the Avian Troll Master quest bla",
      "color": "white"
    }
  }
}
