{
  "onShowSound": [
    "/sfx/cinematics/quest_event.ogg"
  ],
  "paneLayout": {
    "panefeature": {
      "type": "panefeature"
    },
    "background": {
      "type": "background",
      "fileHeader": "/interface/sb_quests/newquest/header.png",
      "fileBody": "/interface/sb_quests/newquest/body.png",
      "fileFooter": "/interface/sb_quests/newquest/footer.png"
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/sb_quests/newquest/shine.png",
      "position": [0, 0],
      "zlevel": -10
    },
    "bgOverlay": {
      "type": "image",
      "file": "/interface/sb_quests/newquest/details.png",
      "position": [3, 37],
      "zlevel": -10
    },
    "btnAccept": {
      "type": "button",
      "base": "/interface/sb_quests/acceptup.png",
      "hover": "/interface/sb_quests/acceptover.png",
      "position": [155, 48],
      "caption": ""
    },
    "imgComplete": {
      "type": "image",
      "file": "/interface/sb_quests/questcomplete/questcomplete.png",
      "position": [-42, 119]
    },
    "rewardItems": {
      "type": "itemgrid",
      "position": [8, 47],
      "dimensions": [5, 1],
      "spacing": [22, 19],
      "callback": "null",
      "backingImage": "/interface/inventory/empty.png"
    },
    "labelMoney": {
      "type": "label",
      "position": [12, 68],
      "fontSize": 8,
      "value": "^shadow;REWARDS:^noshadow;",
      "color": [155, 227, 214]
    },
    "imgMoney": {
      "type": "image",
      "file": "/interface/sb_quests/money.png",
      "position": [60, 70]
    },
    "lblMoneyAmount": {
      "type": "label",
      "position": [75, 68],
      "fontSize": 8,
      "value": "9999999",
      "color": "white"
    },
    "lblQuestTitle": {
      "type": "label",
      "position": [140, 136],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 180,
      "lineSpacing": 1.0,
      "value": "Secret of the Avian Troll Master",
      "color": [155, 227, 214]
    },
    "lblQuestBody": {
      "type": "label",
      "position": [9, 128],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 264,
      "lineSpacing": 1.0,
      "value": "quest body of the Secret of the Avian Troll Master quest bla",
      "color": "white"
    }
  }
}
