{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/warping/sb_warpheader.png",
      "fileBody": "/interface/warping/sb_warpbody.png",
      "fileFooter": "/interface/warping/sb_warpfooter.png"
    },
    "close": {
      "type": "button",
      "callback": "close",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "position": [171, 161]
    },
    "windowtitle": {
      "type": "title",
      "title": "Teleporter",
      "subtitle": "Choose a destination",
      "icon": {
        "type": "image",
        "file": "/interface/warping/icon.png",
        "zlevel": -1
      }
    },
    "btnTeleport": {
      "type": "button",
      "base": "/interface/warping/buttonup.png",
      "hover": "/interface/warping/buttonover.png",
      "disabledImage": "/interface/warping/buttonup.png?brightness=-30",
      "disabled": true,
      "position": [68, 11], //34.5 = 68-(47/2), 25
      "pressedOffset": [0, 0],
      "caption": "Teleport",
      "callback": "teleport"
    },
    "btnBookmark": {
      "type": "button",
      "base": "/interface/warping/buttonup.png",
      "hover": "/interface/warping/buttonover.png",
      "pressedOffset": [0, 0],
      "position": [101.5, 11],
      "caption": "Bookmark",
      "callback": "bookmark",
      "visible": false
    },
    "bookmarkList": {
      "type": "scrollArea",
      "rect": [2, 25, 184, 153],
      "children": {
        "bookmarkItemList": {
          "type": "list",
          "callback": "selectDestination",
          "schema": {
            "selectedBG": "/interface/bookmarks/list/sb_selected.png",
            "unselectedBG": "/interface/bookmarks/list/sb_unselected.png",
            "spacing": [0, 2],
            "memberSize": [170, 22],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/bookmarks/list/sb_unselected.png",
                "position": [0, 0],
                "zlevel": -1
              },
              "icon": {
                "type": "image",
                "position": [3, 3],
                "file": "/interface/bookmarks/icons/teleporter.png",
                "mouseTransparent": true
              },
              "name": {
                "type": "label",
                "position": [23, 11],
                "hAnchor": "left",
                "width": 120,
                "value": "Bookmark Name",
                "color": [255, 255, 255],
                "mouseTransparent": true
              },
              "planetName": {
                "type": "label",
                "position": [23, 3],
                "hAnchor": "left",
                "width": 120,
                "value": "",
                "color": [180, 180, 180],
                "mouseTransparent": true
              },
              "editButton": {
                "type": "button",
                "callback": "editBookmark",
                "position": [151, 3],
                "pressedOffset": [0, 0],
                "base": "/interface/bookmarks/list/sb_editup.png",
                "hover": "/interface/bookmarks/list/sb_edithover.png",
                "pressed": "/interface/bookmarks/list/sb_edithover.png"
              }
            }
          }
        }
      }
    }
  },

  "destinations": [{
      "name": "Beam to Ship",
      "planetName": "",
      "warpAction": "OwnShip",
      "icon": "beamup"
    }, {
      "name": "Show Party Members",
      "planetName": "",
      "warpAction": "sb_party",
      "icon": "beamparty",
      "condition": "includePartyMembers"
    }
  ],

  "canBookmark": true,
  "includePartyMembers": true,
  "includePlayerBookmarks": true,

  "beamPartyMemberLabel": "Beam to Party Member",
  "deployPartyMemberLabel": "Deploy to Party Member",
  "beamPartyMemberIcon": "/interface/bookmarks/icons/beamparty.png",
  "deployPartyMemberIcon": "/interface/bookmarks/icons/deploy.png",
  "iconImagePath": "/interface/bookmarks/icons/%s.png",

  "scriptWidgetCallbacks": [
    "teleport",
    "selectDestination",
    "editBookmark",
    "bookmark"
  ],
  "scripts": ["/interface/windowconfig/sb_teleportdialog.lua"]
}
