{
  "weaponNames": {
    "assaultrifle": "A. Rifle",
    "sniperrifle": "S. Rifle",
    "rocketlauncher": "R. Launcher"
  },

  "abilities": {
    //Melee
    "bladecharge": {
      "weaponName": "sword"
    },
    "downstab": {
      "weaponName": "sword"
    },
    "parry": {
      "weaponName": "sword"
    },
    "risingslash": {
      "weaponName": "sword"
    },
    "spinslash": {
      "weaponName": "sword"
    },
    "superspinslash": {
      "icon": "spinslash.png",
      "weaponName": "sword"
    },
    "giantsword": {
      "weaponName": "sword"
    },
    "travelingslash": {
      "weaponName": "sword"
    },
    "blinkexplosion": {
      "weaponName": "melee"
    },
    "blinkslash": {
      "weaponName": "sword"
    },
    "traildash": {
      "weaponName": "sword"
    },
    "uppercut": {
      "weaponName": "hammer"
    },
    "physicalshockwave": {
      "acceptedElements": ["physical"], //this ability only works on physical weapons
      "weaponName": "hammer"
    },
    "shockwave": {
      "weaponName": "hammer"
    },
    "groundslam": {
      "weaponName": "hammer"
    },
    "elementalaura": {
      "weaponName": "hammer"
    },
    "elementalpillar": {
      "weaponName": "hammer"
    },
    "flurry": {
      "weaponName": "spear"
    },
    "spearspin": {
      "weaponName": "spear"
    },
    "spearcharge": {
      "weaponName": "spear"
    },
    "elementalspin": {
      "weaponName": "spear"
    },
    "barrier": {
      "weaponName": "spear"
    },
    "rocketspear": {
      "weaponName": "spear"
    },

    //Guns
    "explosiveshot": {
      "weaponName": "rifle"
    },
    "bouncingshot": {
      "weaponName": "rifle"
    },
    "flashlight": {
      "weaponName": "firearm"
    },
    "grenadelauncher": {
      "weaponName": "firearm"
    },
    "spray": {
      "icon": "sb_spring.png",
      "weaponName": "assaultrifle"
    },
    "sb_physicallance": {
      "acceptedElements": ["physical"], //this ability only works on physical weapons
      "weaponName": "assaultrifle"
    },
    "lance": {
      "weaponName": "assaultrifle"
    },
    "explosiveburst": {
      "weaponName": "assaultrifle"
    },
    "homingrocket": {
      "icon": "/items/active/weapons/ranged/abilities/markedshot/targetoverlay.png",
      "weaponName": "rocketlauncher"
    },
    "guidedrocket": {
      "weaponName": "rocketlauncher"
    },
    "rocketburst": {
      "weaponName": "rocketlauncher"
    },
    "shrapnelbomb": {
      "weaponName": "shotgun"
    },
    "burstshot": {
      "weaponName": "shotgun"
    },
    "stickyshot": {
      "weaponName": "shotgun"
    },
    "sb_vacuum": {
      "weaponName": "shotgun"
    },
    "piercingshot": {
      "weaponName": "sniperrifle"
    },
    "markedshot": {
      "icon": "/items/active/weapons/ranged/abilities/markedshot/targetoverlay.png",
      "weaponName": "sniperrifle"
    },
    "deathbomb": {
      "weaponName": "sniperrifle"
    },

    //staves
    "elementbouncer": {
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementorb": {
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementportal": {
      "slot": "primary",
      "weaponName": "wand"
    },
    "elementrain": {
      "slot": "primary",
      "icon": "/interface/cockpit/weather/rain.png",
      "weaponName": "wand"
    },
    "elementswarm": {
      "slot": "primary",
      "weaponName": "wand"
    },
    "energyzone": {
      "weaponName": "staff"
    },
    "forcecage": {
      "weaponName": "staff"
    },
    "healingzone": {
      "weaponName": "staff"
    },
    "lowgravzone": {
      "weaponName": "staff"
    },
    "pullzone": {
      "weaponName": "staff"
    },
    "pushzone": {
      "weaponName": "staff"
    },
    "slowzone": {
      "weaponName": "staff"
    }
  }
}
