{
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "fixedRarity": true,
  "maxStack": 1,
  "sb_dyeable": true,
  "rarity": "<rarity>",
  "level": 5,
  "directives": "?replace;ffca8a=d1e160;e0975c=9bba3d;a85636=48832f;6f2919=1b4c2a",
  "tags": {
    "<t>": "5",
    "<rarity>": "rare"
  }
}
