{
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "fixedRarity": true,
  "maxStack": 1,
  "sb_dyeable": true,
  "rarity": "<rarity>",
  "level": 5,
  "directives": "?replace;ffca8a=f4988c;e0975c=d93a3a;a85636=932625;6f2919=601119",
  "tags": {
    "<t>": "5",
    "<rarity>": "rare"
  }
}
