{
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "fixedRarity": true,
  "maxStack": 1,
  "sb_dyeable": true,
  "rarity": "<rarity>",
  "level": 6,
  "directives": "?replace;ffca8a=838383;e0975c=555;a85636=383838;6f2919=151515",
  "tags": {
    "<t>": "6",
    "<rarity>": "legendary"
  }
}
