{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/sb_music/header.png",
      "fileBody": "/interface/scripted/sb_music/body.png",
      "fileFooter": "/interface/scripted/sb_music/footer.png"
    },

    "windowtitle": {
      "type": "title",
      "title": "Starbound Radio",
      "subtitle": "Listen to cool tunes",
      "icon": {
        "type": "image",
        "file": "/interface/sb_crafting/craftingicons.png:music",
        "zlevel": -1
      }
    },
    "scrollBG": {
      "type": "image",
      "file": "/interface/scripted/sb_music/scrollbg.png",
      "position": [2, 29],
      "zlevel": -5
    },
    "lblSong": {
      "type": "label",
      "position": [77, 235],
      "hAnchor": "mid",
      "value": "Choose a song",
      "color": [127, 127, 127]
    },
    "songScrollArea": {
      "type": "scrollArea",
      "rect": [5, 93, 155, 223],
      "children": {
        "songList": {
          "type": "list",
          "callback": "itemSelected",
          "schema": {
            "selectedBG": "/interface/scripted/sb_music/songselected.png",
            "unselectedBG": "/interface/scripted/sb_music/songbackground.png",
            "spacing": [0, 1],
            "memberSize": [141, 9], //[133, 20],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/sb_music/songbackground.png",
                "position": [0, 0],
                "zlevel": -1
              },
              "songName": {
                "type": "label",
                "position": [2, 0], //[22, 10],
                "hAnchor": "left",
                "width": 138,
                "value": "Replace Me"
              },
              "songIcon": {
                "type": "image",
                "position": [11, 10],
                "visible": false,
                "centered": true,
                "scissoring": false,
                "size": [16, 16],
                "file": "/items/generic/crafting/copperbar.png",
                "callback": "null"
              }
            }
          }
        }
      }
    },

    "lblDescription": {
      "type": "label",
      "position": [13, 81], //23
      //"hAnchor" : "mid",
      "vAnchor": "top",
      "wrapWidth": 130
    },
    "lblCount": {
      "type": "label",
      "position": [78, 22],
      "hAnchor": "mid",
      "vAnchor": "top",
      "wrapWidth": 80
    },
    "searchBarBG": {
      "type": "image",
      "file": "/interface/scripted/sb_music/search.png",
      "position": [39, 44],
      "zlevel": -5
    },
    "searchBar": {
      "type": "textbox",
      "position": [50, 46],
      "size": [64, 10],
      "maxWidth": 255,
      "focus": false,
      "regex": "[^\"\\%]*$",
      "hint": "Search",
      "value": ""
    },
    "lblRange": { //TODO: textbox
      "visible": false,
      "type": "label",
      "position": [134, 32]
    },
    "imgRange": {
      "visible": false,
      "type": "image",
      "textAlign": "center",
      "maxWidth": 18,
      "position": [126, 31],
      "file": "/interface/sb_crafting/amount.png"
    },
    "range": {
      "visible": false,
      "type": "slider",
      "position": [90, 46],
      "gridImage": "/interface/optionsmenu/smallselection.png",
      "callback": "setRange",
      "range": [3, 303, 1]
    },
    "play": {
      "type": "button",
      "base": "/interface/scripted/sb_music/play.png",
      "hover": "/interface/scripted/sb_music/play.png",
      "pressed": "/interface/scripted/sb_music/play.png?brightness=-15", //wasn't it saturation...?
      "disabledImage": "/interface/scripted/sb_music/play.png?brightness=-30",
      "caption": "Play",
      "pressedOffset": [0, -1],
      "position": [33.5, 28], //43
      "callback": "play"
    },
    "stop": {
      "type": "button",
      "base": "/interface/scripted/sb_music/play.png",
      "hover": "/interface/scripted/sb_music/play.png",
      "pressed": "/interface/scripted/sb_music/play.png?brightness=-15", //wasn't it saturation...?
      "disabledImage": "/interface/scripted/sb_music/play.png?brightness=-30",
      "caption": "Stop",
      "pressedOffset": [0, -1],
      "position": [80.5, 28],
      "callback": "play"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [143, 252]
    }
  },

  "scriptWidgetCallbacks": ["play", "itemSelected", "searchBar", "setRange"],
  "scripts": ["/interface/scripted/sb_music/music.lua"],
  "scriptDelta": 60,

  "descriptions": ["You do not own any music.", "Choose a song."],
  "description": "%s\nComposed by: %s",
  "defaultArtistName": "Curtis Schweitzer",
  "defaultSongs": [{
      "icon": "/sfx/objects/shipengine.ogg",
      "title": "Ship Engine",
      "description": "???"
    }, {
      "icon": "/assetmissing.wav",
      "title": "Silence",
      "description": "Various authors"
    }
  ]
}
