[
   "sb_morphball"
  ,"sb_randblink"
  ,"sb_bounce"
  ,"sb_balldash"
  ,"sb_dash"
  ,"sb_gravitybubble"
  ,"sb_rocketboots"
  ,"sb_rocketjump"
  ,"sb_particlethrust"
  ,"sb_hover"
  ,"sb_doublejump"
  ,"sb_butterflyboost"
  ,"sb_bubbleboost"
  ,"sb_humanjeep"
  ,"sb_boat"
//,"sb_humancar"
//,"sb_humanhoverbike" //hey also use the hoverbike from Rho, not the vanilla one
  ,"sb_groundsmash"
  ,"sb_lightrig"
  ,"sb_miningdrill"
//,"sb_glitchmech"
//,"sb_humanmech"
//,"sb_apexmech"
  ,"sb_hylotlmech"
  ,"thea-acrobaticdodge"
  ,"thea-acrobaticjump"
  ,"thea-hoverjump"
  ,"sb_speed"
  ,"sb_glow"
  ,"sb_gravity"
  ,"sb_jump"
  ,"sb_energyregen"
  ,"sb_regeneration"
  ,"sb_grit"
  ,"sb_protection"
  ,"sb_health"
  ,"sb_energy"
  ,"sb_magnet"
  ,"sb_berserk"
  ,"sb_vamp"
  ,"sb_reducefalldamage"
  ,"sb_enhancedhealing"
  ,"sb_absorption"
  ,"sb_spiked"
  ,"sb_explosiveprotection"
  ,"sb_extradrops"
]