{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "The ", "Miss ", "", "Mr. ", "Holy ", "Beautiful ", "Precious ", "Awesome ", "Wicked ", "Badass ", "Leviathan ", "Destructive " ],
      [ { "mode" : "alts" }, "Boom", "Kill", "Thunder", "Death", "Storm", "Explode-", "Atom", "Raid", "Charge", "Thrash", "Rage", "Blast" ],
      [ { "mode" : "alts" }, "stick", "barrel", "enator", "erizer", "maker", "boy", "shooter", "boomer", "launcher", "destroyer", "crusher" ]
    ]
  ]
}
