{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/games/sb_pong/header.png",
      "fileBody": "/interface/games/sb_pong/body.png",
      "fileFooter": "/interface/games/sb_pong/footer.png"
    },
    "scriptCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [0.8, 11, 301, 222],
      "captureKeyboardEvents": true
    },
    "close": {
      "zlevel": 2,
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [285, 228]
    }
  },

  "scripts": ["/scripts/util.lua", "/interface/games/sb_pong/pong.lua"],
  "scriptDelta": 2,

  "canvasKeyCallbacks": {
    "scriptCanvas": "canvasKeyEvent"
  },

  "gameConfig": {
    "windowCenter": [152, 110],
    "gameDims": [100, 70],
    "paddleDims": [2, 8],
    "ballDims": [3, 3],
    "ballSpeed": 60,
    "paddleSpeed": 60,

    "introText": "^font=craft;Super Pong Ultra Deluxe TRIPLE\nPress any button!",
    "pauseText": "^font=craft;- PAUSE- \nPress any button!",
    "scoreText": "^font=pixelhobo;%s - %s",
    "controlsText": "^font=pixelhobo;PLAYER 1: W, S    |    SPACE: Pause    |    RESET: R    |    PLAYER 2: UP, DOWN"
  },

  "gameInput": {
    "key": {
      "p1_up": 65,
      "p1_down": 61,

      "p2_up": 87,
      "p2_down": 88,

      "pause": 5,
      "reset": 60
    }
  },

  "gameSounds": {
    "ballHit": "/sfx/interface/aichatter2.ogg",
    "start": "/sfx/objects/camera_alert_off.ogg"
  }
}
