{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Pathetic ", "Crappy ", "Rotten ", "Unloved ", "Sloppy ", "Blunt ", "Poop ", "Useless ", "Futile ", "Weak ", "Decrepit ", "Wasted ", "Rickety ", "Wobbly ", "Dull ", "Feeble ", "Spoiled ", "Laughable ", "Pointless ", "Unwanted ", "Senseless ", "Silly ", "Naff " ],
      [ { "mode" : "alts" }, "Smoocher", "Basher", "Prodder", "Slapper", "Beater", "Tickler", "Smacker", "Whacker", "Axe", "Badgerer", "Wobbler", "Hacker", "Breaker", "Annoyance", "Rubbish", "Junk" ]
    ]
  ]
}
