{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "All-Seeing ", "Staring ", "Piercing ", "Winking ", "Peeping ", "Gazing ", "Looker ", "Eyeball ", "Pupil ", "Cornea " ],
      [ { "mode" : "alts" }, "Chopper", "Blade", "Axe", "Dicer", "Renderer", "Slicer", "Hacker", "Cutter", "Buckler", "Thwacker", "Killer", "Slapper", "Kisser", "Squisher", "Dude", "Smacker", "Thunker" ]
    ]
  ]
}