//TODO: Is there something we can do to make the long names fit WITHOUT making a special frying pan tooltip? Possibly overwriting the name label via tooltipFields and having one with a smaller font in its place?
{
  "nameGen": [
    {"mode": "alts"},
    [
      {"mode": "serie"},
      [{"mode": "alts"}, "Chef's ", "Camper's ", "Housewife's ", "Housemaker's ", "Cook's ", "Culinarian's "],
//    [{"mode": "alts"}, "Best ", "Trusty ", "Stalwart ", "Heavy ", "Unbending ", ""],
      [{"mode": "alts"}, "Friend", "Companion", "Defense", "Cookware", "Skillet"]
    ]
  ]
}
