{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Chef's ", "Camper's ", "Housewife's ", "Housemaker's ", "Cook's ", "Culinarian's " ],
      [ { "mode" : "alts" }, "Best ", "Trusty ", "Stalwart ", "Heavy ", "Unbending ", "" ],
      [ { "mode" : "alts" }, "Friend", "Companion", "Defense", "Cookware", "Skillet" ]
    ]
  ]
}
