{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Shroom ", "Mushroom ", "Fungus ", "Button ", "Toadstool ", "Trippy ", "Magic " ],
      [ { "mode" : "alts" }, "Stabber", "Masher", "Flayer", "Slasher", "Dicer", "Mushroom", "Tapper", "Squisher", "Prodder", "Mortificator" ]
    ]
  ]
}
