{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "The ", "Miss ", "", "Mr. ", "Holy ", "Beautiful ", "Precious ", "Awesome ", "Wicked ", "Badass ", "Sharp ", "Wild ", "Devilish " ],
      [ { "mode" : "alts" }, "Rusty", "Dull", "Death", "Blight", "Rot", "Decay", "Mold" ],
      [ { "mode" : "alts" }, "stabber", "blade", "sword", "dicer", "render", "slicer", "hacker", "cutter" ]
    ]
  ]
}