{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/scripted/sb_wrappingtable/header.png",
      "fileBody": "/interface/scripted/sb_wrappingtable/body.png",
      "fileFooter": "/interface/scripted/sb_wrappingtable/footer.png"
    },
    "lblText": {
      "type": "label",
      "position": [86, 35], //43],
      "hAnchor": "mid",
      "wrapWidth": 160,
      "value": "^#b9b5b2,shadow;^set;Uses ^#dcb571;empty parcels^reset; to wrap items\n(Or apply ^#dcb571;'right-click to apply'^reset; items)"
    },
    "wrap": {
      "callback": "sb_wrap",
      "type": "button",
      "position": [101, 18],
      "caption": "^shadow;Wrap all",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "press": "/interface/buttonhover.png"
    },
    "clear": {
      "position": [16, 18],
      "type": "button",
      "caption": "Take all",
      "base": "/interface/buttonred.png",
      "hover": "/interface/buttonredhover.png",
      "press": "/interface/buttonredhover.png",
      "callback": "sb_clear"
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [76, 16],
      "dimensions": [1, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/scripted/sb_wrappingtable/slot.png",
      "showDurability": true
    },
    "itemGrid2": {
      "type": "itemgrid",
      "position": [20, 55],
      "dimensions": [7, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/inventory/empty.png",
      "showDurability": true,
      "slotOffset": 1
    },
    "close": {
      "zlevel": 3,
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "callback": "close",
      "position": [155, 81],
      "pressedOffset": [0, 0]
    }
  },
  "scriptWidgetCallbacks": ["sb_wrap", "sb_clear"],
  "scripts": ["/interface/scripted/sb_wrappingtable/wrapping.lua"],
  "desc": " (Contains %s items.)"
}
