{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/sb_codex/header.png",
      "fileBody": "/interface/scripted/sb_codex/body_blank.png",
      "fileFooter": "/interface/scripted/sb_codex/footer.png"
    },

    "windowtitle": {
      "type": "title",
      "title": "Lectern",
      "subtitle": "Library"
    },
    "readLabel": {
      "type": "label",
      "position": [80, 234],
      "hAnchor": "mid",
      "visible": false
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/scripted/sb_codex/shine.png",
      "position": [0, -10],
      "mouseTransparent": true
    },
    "modeStack": {
      "type": "scrollArea",
      "rect": [2, 36, 153, 214],
      "children": {
        "itemList": {
          "type": "list",
          "position": [1, -1],
          "schema": {
            "selectedBG": "/interface/scripted/sb_codex/booktitle_selected.png",
            "unselectedBG": "/interface/scripted/sb_codex/booktitle_bg.png",
            "spacing": [0, 0],
            "memberSize": [140, 21],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/sb_codex/booktitle_bg.png",
                "position": [0, 0],
                "zlevel": -1
              },
              "bookName": {
                "type": "label",
                "position": [70, 11],
                "hAnchor": "mid",
                "vAnchor": "mid",
                "fontSize": 6,
                "wrapWidth": 90,
                "value": "???"
              },
              "newIcon": {
                "type": "image",
                "centered": true,
                "position": [11.50, 10.5],
                "file": ""
              },
              "readIcon": {
                "type": "button",
                "base": "/interface/scripted/sb_codex/read_highlight.png?brightness=-30",
                "hover": "/interface/scripted/sb_codex/read_highlight.png",
                "pressed": "/interface/scripted/sb_codex/read_highlight.png",
                "callback": "readEntry",
                "pressedOffset": [0, 0],
                "position": [122, 5]
              }
            }
          }
        }
      }
    },
    "longPageText": {
      "visible": false,
      "type": "scrollArea",
      "rect": [6, 36, 153, 213],
      "children": {
        "pageText": {
          "type": "label",
          "value": "",
          "hAnchor": "left",
          "vAnchor": "top",
          "fontSize": 8,
          "wrapWidth": 138
        }
      }
    },
    "browseBG": {
      "type": "image",
      "file": "/interface/scripted/sb_codex/browsebg.png",
      "position": [1, 20],
      "mouseTransparent": true
    },
    "pageText": {
      "type": "label",
      "position": [4.5, 213],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 148,
      "lineSpacing": 1.25,
      "visible": false
    },
    "pageNum": {
      "type": "label",
      "position": [79, 22],
      "hAnchor": "mid",
      "visible": false
    },
    "showRename": {
      "caption": "Rename",
      "type": "button",
      "base": "/interface/scripted/sb_codex/rename.png",
      "hover": "/interface/scripted/sb_codex/rename-hover.png",
      "pressed": "/interface/scripted/sb_codex/rename-hover.png",
      "disabledImage": "/interface/scripted/sb_codex/rename.png?brightness=-30",
      "callback": "btnRename",
      "pressedOffset": [0, -1],
      "position": [4, 226]
    },
    "renameBox": {
      "type": "textbox",
      "position": [48, 226],
      "size": [90, 11],
      "maxWidth": 540,
      "focus": false,
      "visible": false,
      "regex": ".{0,16}",
      "hint": "My Library",
      "value": ""
    },
    "btnTake": {
      "caption": "Take Selected",
      "type": "button",
      "base": "/interface/scripted/sb_codex/takeselected.png",
      "hover": "/interface/scripted/sb_codex/takeselected-hover.png",
      "pressed": "/interface/scripted/sb_codex/takeselected-hover.png",
      "disabledImage": "/interface/scripted/sb_codex/takeselected.png?brightness=-30",
      "callback": "btnTake",
      "disabled": true,
      "pressedOffset": [0, -1],
      "position": [44, 20]
    },
    "btnPrevious": {
      "type": "button",
      "base": "/interface/scripted/sb_codex/previous.png",
      "hover": "/interface/scripted/sb_codex/previous-hover.png",
      "pressed": "/interface/scripted/sb_codex/previous-hover.png",
      "callback": "turnPage",
      "visible": false,
      "disabled": true,
      "data": -1,
      "pressedOffset": [0, 0],
      "position": [4, 22]
    },
    "btnNext": {
      "type": "button",
      "base": "/interface/scripted/sb_codex/next.png",
      "hover": "/interface/scripted/sb_codex/next-hover.png",
      "pressed": "/interface/scripted/sb_codex/next-hover.png",
      "callback": "turnPage",
      "visible": false,
      "disabled": true,
      "data": 1,
      "pressedOffset": [0, 0],
      "position": [123, 22]
    },
    "btnBack": {
      "type": "button",
      "caption": "Back to Library",
      "base": "/interface/scripted/sb_codex/backbutton.png",
      "hover": "/interface/scripted/sb_codex/backbutton-hover.png",
      "pressed": "/interface/scripted/sb_codex/backbutton-hover.png",
      "callback": "btnBack",
      "visible": false,
      "pressedOffset": [0, -1],
      "position": [42, 8]
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [120, 250], //130,250
      "dimensions": [1, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/inventory/empty.png"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "press": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [144, 254]//114,253
    }
  },

  "scriptWidgetCallbacks": ["btnBack", "turnPage", "readEntry", "btnTake", "btnRename", "renameBox"],
  "modeWidgets": [
    ["btnBack", "btnNext", "btnPrevious", "pageText", "pageNum", "btnRename"],
    ["btnTake", "modeStack", "itemGrid", "showRename"]
  ],
  "selectText": "SELECT A LOG FILE", //DOUBLE CLICK TO READ SELECTION
  "pageNum": "P. %s of %s",
  "invalidCodexText": "Could not find a codex file at ^green;'%s'^reset;. The codex file name must match the codex ID.",
  "acceptedItemTags": ["sb_copybook", "sb_lectern"],
  "closedIcon": "/interface/scripted/sb_codex/iconBook_closed.png",
  "openIcon": "/interface/scripted/sb_codex/iconBook_open.png",
  "scripts": ["/interface/scripted/sb_codex/codex2.lua"],
  "scriptDelta": 14
}
