{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/sb_codex/header.png",
      "fileBody": "/interface/scripted/sb_codex/body_blank.png",
      "fileFooter": "/interface/scripted/sb_codex/footer.png"
    },

    "windowtitle": {
      "type": "title",
      "title": "Starbound Codex",
      "subtitle": "Library",
      "icon": {
        "type": "image",
        "file": "/interface/sb_crafting/craftingicons.png:closedbook",
        "zlevel": -1
      }
    },
    "readLabel": {
      "type": "label",
      "position": [80, 234],
      "hAnchor": "mid",
      "visible": false,
      "value": "READ_LABEL"
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/scripted/sb_codex/shine.png",
      "position": [0, -10],
      "zlevel": -10
    },
    "browseBG": {
      "type": "image",
      "file": "/interface/scripted/sb_codex/browsebg.png",
      "position": [1, 20],
      "zlevel": -5
    },
    "pageNum": {
      "type": "label",
      "position": [79, 22],
      "hAnchor": "mid",
      "value": "P. 1 of 1"
    },
    "renameButton": {
      "caption": "Rename",
      "type": "button",
      "base": "/interface/scripted/sb_codex/renameselected.png",
      "hover": "/interface/scripted/sb_codex/renameselected-hover.png",
      "pressed": "/interface/scripted/sb_codex/renameselected-hover.png?brightness=60",
      "disabledImage": "/interface/scripted/sb_codex/renameselected.png?brightness=-30",
      "callback": "toggleRename",
      "pressedOffset": [0, 0],
      "position": [4, 226]
    },
    "renameBox1": {
      "type": "textbox",
      "position": [6, 206],
      "size": [144, 10],
      "focus": false,
      "visible": false,
      "regex": ".{0,20}",
      "hint": "Enter book title",
      "value": ""
    },
    "renameBox2": {
      "type": "textbox",
      "position": [6, 196],
      "size": [144, 10],
      "focus": false,
      "visible": false,
      "regex": ".{0,75}",
      "hint": "Enter book description",
      "value": "",
      "maxWidth": 144
    },
    "renameBox2label": {
      "type": "label",
      "position": [6, 186],
      "hAnchor": "left",
      "vAnchor": "top",
      "visible": false,
      "value": "",
      "wrapWidth": 126,
      "color": "lightgray"
    },
    "iconSlot": {
      "type": "itemslot",
      "callback": "changeIcon",
      "rightClickCallback": "changeIcon",
      "showRarity": false,
      "position": [120, 250],
      "backingImage": "/interface/inventory/empty.png",
      "showBackingImageWhenFull": true
    },
    "prevButton": {
      "type": "button",
      "base": "/interface/scripted/sb_codex/previous.png",
      "hover": "/interface/scripted/sb_codex/previous-hover.png",
      "pressed": "/interface/scripted/sb_codex/previous-hover.png?brightness=60",
      "callback": "prevP",
      "pressedOffset": [0, 0],
      "position": [4, 22]
    },
    "nextButton": {
      "type": "button",
      "base": "/interface/scripted/sb_codex/next.png",
      "hover": "/interface/scripted/sb_codex/next-hover.png",
      "pressed": "/interface/scripted/sb_codex/next-hover.png?brightness=60",
      "callback": "nextP",
      "pressedOffset": [0, 0],
      "position": [123, 22]
    },
    "PTB1": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 206],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "^shadow,lightgray;This book is empty... Let's write!",
      "value": ""
    },
    "PTB2": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 196],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB3": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 186],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB4": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 176],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB5": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 166],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB6": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 156],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB7": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 146],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB8": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 136],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB9": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 126],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB10": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 116],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB11": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 106],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB12": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 96],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB13": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 86],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB14": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 76],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB15": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 66],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB16": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 56],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB17": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 46],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "PTB18": {
      "type": "textbox",
      "regex": ".{0,400}",
      "callback": "null",
      "position": [6, 36],
      "hAnchor": "left",
      "vAnchor": "top",
      "zlevel": 1,
      "enterKey": "linejump",
      "size": [144, 10],
      "hint": "",
      "value": ""
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "press": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [144, 254]
    }
  },

  "scriptWidgetCallbacks": ["prevP", "nextP", "toggleRename", "renameBox1", "renameBox2", "linejump", "changeIcon"],
  "pageFormat": "P. %s of %s",
  "reading": "Reading",
  "iconTooltip": {
    "tooltipKind": "sb_tech2",
    "shortdescription": "",
    "category": "",
    "description": "Place a codex here to change the cover of your book!"
  },
  "captions": ["Rename", "Back"],
  "customData": ["Blank Book", "A blank book, for sharing vital information... or bad puns."],
  "miscData": [{}, "/items/active/starbound/codex/icon.png", "/items/active/starbound/codex/icon.png"],
  "scripts": ["/interface/scripted/sb_codex/customcodex.lua"],
  "scriptDelta": 60
}
