{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Boom", "Kill", "Thunder", "Crater", "Storm", "Dude", "Strike", "Raid", "Charge", "Thrash", "Rage", "Blast", "Bomb","Ok" ],
      [ { "mode" : "alts" }, "stick", "barrel", "enator", "erizer", "maker", "boy", "shooter", "launcher", "thrower", "spitter", "atron 3000", "boomer", "bomber" ]
    ]
  ]
}
