{
  "stateTypes" : {
    "movement" : {
      "priority" : 0,
      "default" : "idle",

      "states" : {
        "idle" : {
          "frames" : 8,
          "mode" : "loop"
        },
        "serpentdroidSpawn" : {
          "frames" : 16,
          "mode" : "transition",
          "transition" : "close"
        },
        "repairbotSpawn" : {
          "frames" : 16,
          "mode" : "transition",
          "transition" : "close"
        },
        "cleaningbotSpawn" : {
          "frames" : 16,
          "mode" : "transition",
          "transition" : "close"
        },
        "close" : {
          "frames" : 8,
          "mode" : "transition",
          "transition" : "idle"
        }
      }
    }
  },

  "partTypes" : {
    "body" : {
      "position" : [0, 0],
      "zlevel" : 0,
      "states" : {
        "movement" : {
          "idle" : "<base>:idle.<frame>",
          "serpentdroidSpawn" : "<base>:serpentdroidSpawn.<frame>",
          "repairbotSpawn" : "<base>:repairbotSpawn.<frame>",
          "cleaningbotSpawn" : "<base>:cleaningbotSpawn.<frame>",
          "close" : "<base>:close.<frame>"
        }
      }
    }
  }
}
