{
  "/codex/sb_test.png": "/codex/default/sb_survivalguide.png",
  "/codex/sb_gun.png": "/codex/default/sb_gunguide.png",
  "/codex/sb_floranmission.png": "/codex/missions/floran mission/sb_floranmission.png",
  "/codex/sb_humanbunkerbook.png": "/codex/human/sb_humancover1.png",
  "/codex/sb_apexvillagebook.png": "/codex/apex/sb_apexcover1.png",
  "/codex/sb_aviantemplebook.png": "/codex/avian/sb_aviancover1.png",
  "/codex/sb_aviantombbook.png": "/codex/avian/sb_aviancover2.png",
  "/codex/sb_aviantowerbook.png": "/codex/avian/sb_aviancover3.png",
  "/codex/sb_avianairshipbook.png": "/codex/avian/sb_aviancover4.png"
}
