{
//Old prefix was gg
 "gg_noprotectionTech":"sb_noprotection"
,"gg_breathprotectionTech":"sb_breathprotection",	"sb_breathprotectionimplant":"sb_breathprotection"
,"gg_radiationprotectionTech":"sb_radiationprotection",	"sb_radiationprotectionimplant":"sb_radiationprotection"
,"gg_coldprotectionTech":"sb_coldprotection",		"sb_coldprotectionimplant":"sb_coldprotection"
,"gg_heatprotectionTech":"sb_heatprotection",		"sb_heatprotectionimplant":"sb_heatprotection"
,"gg_dashimplantTech":"sb_speed",			"sb_speedimplant":"sb_speed"
,"gg_jumpimplantTech":"sb_jump",			"sb_jumpimplant":"sb_jump"
,"gg_glowimplantTech":"sb_glow",			"sb_glowimplant":"sb_glow"
,"gg_gravityimplantTech":"sb_gravity",			"sb_gravityimplant":"sb_gravity"

,"sb_defupimplant":"sb_protection"
,"sb_energyimplant":"sb_energy"
,"sb_gritimplant":"sb_grit"
,"sb_healthimplant":"sb_health"
,"sb_mobilityimplant":"sb_mobility"
,"sb_sgenergyshieldimplant":"sb_sgenergyshield"
,"sb_regenerationimplant":"sb_regeneration"
,"sb_energyregenimplant":"sb_energyregen"
,"sb_shieldimplant":"sb_shield"
}