{
  "aimOffset": -1,
  "tooltipKind": "sb_sword2",
  "animationParts": {
    "handle": "",
    "blade": "t<t>a.png<directives>"
  },
  "price": 600,
  "inventoryIcon": "t<t>a.png<directives>",
  "category": "axe",
  "primaryAbility": {
    "stances": {
      "fire": {
        "weaponOffset": [0.3, 1.5]
      },
      "idle": {
        "weaponOffset": [0.3, 1.5]
      },
      "windup": {
        "weaponOffset": [0.3, 1.5],
        "duration": 0.2
      }
    },
    "fireTime": 0.6,
    "baseDps": 7.5
  },
  "animationCustom": {
    "sounds": {
      "fire": ["/sfx/melee/swing_axe.ogg"]
    },
    "animatedParts": {
      "parts": {
        "swoosh": {
          "properties": {
            "offset": [-1, 1.75]
          }
        }
      }
    }
  },
  "animation": "/items/active/starbound/weapons/axe.animation",
  "primaryAbilityType": "sb_axe",
  "elementalType": "physical"
}
