{
  "tooltipKind": "sb_sword2",
  "aimOffset": -1,
  "animationParts": {
    "handle": "",
    "blade": "t<t>m.png<directives>"
  },
  "price": 600,
  "inventoryIcon": "t<t>m.png<directives>",
  "primaryAbility": {
    "baseDps": 10.5,
    "stances": {
      "windup": {
        "duration": 0.2
      }
    }
  },
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "swoosh": {
          "properties": {
            "offset": [-2, 1.75]
          }
        }
      }
    }
  },
  "primaryAbilityType": "sb_axe",
  "elementalType": "physical"
}
