{
  "fixedRarity": true,
  "tooltipKind": "sb_sword2",
  "sb_dyeable": true,

  "aimOffset": -1,
  "rarity": "common",
  "level": 1,
  "price": 200,
  "directives": "?replace;ffca8a=b5b5b5;e0975c=808080;a85636=555;6f2919=303030",
  "inventoryIcon": "t1.png<directives>",
  "animationParts": {
    "blade": "t1.png<directives>",
    "handle": ""
  },
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "swoosh": {
          "properties": {
            "offset": [-2, 1.75]
          }
        }
      }
    }
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_axe",
  "primaryAbility": {
    "baseDps": 10.5
  }
}
