{
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "animation": "/items/active/starbound/weapons/axe.animation",
  "tooltipKind": "sb_sword2",
  "category": "axe",
  "maxStack": 1,
  "sb_dyeable": true,

  "aimOffset": -1,
  "rarity": "uncommon",
  "level": 3,
  "price": 300,
  "directives": "?replace;ffca8a=e6e6e6;e0975c=b6b6b6;a85636=7b7b7b;6f2919=373737",
  "inventoryIcon": "t3.png<directives>",
  "animationParts": {
    "blade": "t3.png<directives>",
    "handle": ""
  },
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "swoosh": {
          "properties": {
            "offset": [-1, 1.75]
          }
        }
      }
    }
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_axe",
  "primaryAbility": {
    "baseDps": 10.5,
    "stances": {
      "idle": {
        "weaponOffset": [0.3, 1.5]
      },
      "windup": {
        "duration": 0.2,
        "weaponOffset": [0.3, 1.5]
      },
      "fire": {
        "weaponOffset": [0.3, 1.5]
      }
    }
  }
}
