{
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "animation": "/items/active/starbound/weapons/axe.animation",
  "tooltipKind": "sb_sword2",
  "category": "axe",
  "maxStack": 1,
  "sb_dyeable": true,

  "aimOffset": -1,
  "rarity": "uncommon",
  "level": 4,
  "price": 500,
  "directives": "?replace;ffca8a=9da8af;e0975c=676f83;a85636=3d3d51;6f2919=24232f",
  "inventoryIcon": "t4.png<directives>",
  "animationParts": {
    "blade": "t4.png<directives>",
    "handle": ""
  },
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "swoosh": {
          "properties": {
            "offset": [-1, 1.75]
          }
        }
      }
    }
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_axe",
  "primaryAbility": {
    "baseDps": 10.5,
    "stances": {
      "idle": {
        "weaponOffset": [0.3, 1.5]
      },
      "windup": {
        "duration": 0.2,
        "weaponOffset": [0.3, 1.5]
      },
      "fire": {
        "weaponOffset": [0.3, 1.5]
      }
    }
  }
}
