{
  "twoHanded": true,
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "animation": "/items/active/starbound/weapons/hammer.animation",
  "tooltipKind": "sb_sword2",
  "category": "hammer",
  "maxStack": 1,
  "aimOffset": -1,
  "sb_dyeable": true,

  "rarity": "uncommon",
  "level": 3,
  "price": 750,
  "directives": "?replace;ffca8a=e6e6e6;e0975c=b6b6b6;a85636=7b7b7b;6f2919=373737",
  "inventoryIcon": "t3.png<directives>",
  "animationParts": {
    "blade": "t3.png<directives>",
    "handle": ""
  },
  "animationCustom": {},
  "elementalType": "physical",
  "primaryAbilityType": "sb_hammer",
  "altAbilityType": "groundslam"
}
