{
  "inventoryIcon": "t5a.png<directives>",
  "primaryAbilityType": "sb_hammer",
  "elementalType": "poison",
  "price": 1500,
  "primaryAbility": {
    "damageConfig": {
      "damageSourceKind": "poisonhammer",
      "statusEffects": ["weakpoison"]
    },
    "fireTime": 1,
    "baseDps": 6.75,
    "smashMomentum": [0, -40]
  },
  "altAbilityType": "shockwave",
  "animationParts": {
    "blade": "t5a.png<directives>",
    "handle": ""
  },
  "aimOffset": -1,

  "animationCustom": { //TEMPORARY ANIMATION CUSTOM UNTIL WE GET NEW RACIAL HAMMER SPRITES
    "animatedParts": {
      "parts": {
        "blade": {
          "properties": {
            "offset": [0.25, 0]
          }
        }
      }
    }
  }
}
