{
  "inventoryIcon": "t5a.png<directives>",
  "primaryAbilityType": "sb_hammer",
  "elementalType": "poison",
  "price": 1500,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "damageConfig": {
      "damageSourceKind": "poisonhammer",
      "statusEffects": [{
          "effect": "weakpoison",
          "duration": 3
        }
      ]
    },
    "fireTime": 1,
    "baseDps": 6.75,
    "smashMomentum": [0, -40]
  },
  "altAbilityType": "shockwave",
  "animation": "/items/active/starbound/weapons/hammer.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t5a.png<directives>",
    "handle": ""
  },
  "aimOffset": -1,
  "category": "hammer"
}
