{
  "inventoryIcon": "t5m.png<directives>",
  "primaryAbilityType": "sb_hammer",
  "elementalType": "fire",
  "price": 1500,
  "primaryAbility": {
    "damageConfig": {
      "damageSourceKind": "firehammer",
      "statusEffects": ["burning"]
    },
    "fireTime": 1.45,
    "baseDps": 8.25
  },
  "altAbility": {
    "energyUsage": 80,
    "duration": 9
  },
  "altAbilityType": "elementalaura",
  "animationParts": {
    "blade": "t5m.png<directives>",
    "handle": ""
  },
  "aimOffset": -1,

  "animationCustom": { //TEMPORARY ANIMATION CUSTOM UNTIL WE GET NEW RACIAL HAMMER SPRITES
    "animatedParts": {
      "parts": {
        "blade": {
          "properties": {
            "offset": [0.25, 0]
          }
        }
      }
    }
  }
}
