{
  "inventoryIcon": "t5m.png<directives>",
  "primaryAbilityType": "sb_hammer",
  "elementalType": "fire",
  "price": 1500,
  "twoHanded": true,
  "tooltipKind": "sb_sword2",
  "primaryAbility": {
    "fireTime": 1.45,
    "baseDps": 8.25
  },
  "altAbility": {
    "energyUsage": 80,
    "duration": 9
  },
  "altAbilityType": "elementalaura",
  "animation": "/items/active/starbound/weapons/hammer.animation",
  "animationCustom": [],
  "animationParts": {
    "blade": "t5m.png<directives>",
    "handle": ""
  },
  "aimOffset": -1,
  "category": "hammer"
}
