{
  "inventoryIcon": "t5s.png<directives>",
  "primaryAbilityType": "sb_hammer",
  "elementalType": "electric",
  "price": 1500,
  "primaryAbility": {
    "damageConfig": {
      "damageSourceKind": "electrichammer",
      "statusEffects": ["electrified"]
    },
    "fireTime": 1.75,
    "smashMomentum": [0, -55]
  },
  "altAbilityType": "elementalpillar",
  "animationParts": {
    "blade": "t5s.png<directives>",
    "handle": ""
  },
  "aimOffset": -1
}
