{
  "inventoryIcon": "t6s.png<directives>",
  "primaryAbilityType": "sb_hammer",
  "elementalType": "physical",
  "price": 1500,
  "primaryAbility": {
    "fireTime": 1.75,
    "smashMomentum": [0, -55]
  },
  "altAbilityType": "physicalshockwave",
  "animationParts": {
    "blade": "t6s.png<directives>",
    "handle": ""
  },
  "aimOffset": -1
}
