{
  "pieces" : {
    "platform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0],
      "colorStride" : [0, 0],
      "variantStride" : [0, 0]
    },
    "ascleftbit" : {
      "textureSize" : [5, 5],
      "texturePosition" : [3, 0],
      "colorStride" : [0, 0],
      "variantStride" : [0, 0]
    },
    "ascrightbit" : {
      "textureSize" : [5, 5],
      "texturePosition" : [16, 0],
      "colorStride" : [0, 0],
      "variantStride" : [0, 0]
    },
    "ascright" : {
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0],
      "colorStride" : [0, 0],
      "variantStride" : [0, 0]
    },
    "ascleft" : {
      "textureSize" : [8, 8],
      "texturePosition" : [32, 0],
      "colorStride" : [0, 0],
      "variantStride" : [0, 0]
    },
    "topbend" : {
      "textureSize" : [8, 8],
      "texturePosition" : [28, 0],
      "colorStride" : [0, 0],
      "variantStride" : [0, 0]
    }
  },

  "representativePiece": "platform",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      //Little bump thing
      {
        "matchAllPoints" : [
          [[1, -1], "EqualsSelf"],
          [[-1, -1], "EqualsSelf"],
          [[0, -1], "NotEqualsSelf"],
          [[0, -2], "NotEqualsSelf"]
        ],
        "haltOnMatch": true,
        "pieces" : [["topbend", [0, -4]]]
      },
      //Only cases to force platform first
      {
        "matchAllPoints" : [
          [[1, 0], "EqualsSelf"],
          [[-1, 0], "EqualsSelf"]
        ],
        "haltOnMatch": true,
        "pieces" : [["platform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, -1], "EqualsSelf"],
          [[-1, -1], "EqualsSelf"],
          [[0, -1], "NotEqualsSelf"],
          [[0, -2], "EqualsSelf"]
        ],
        "haltOnMatch": true,
        "pieces" : [["platform", [0, 0]]]
      },
      //Cases for ascending to the right
      {
        "matchAllPoints" : [
          [[-1, -1], "EqualsSelf"],
          [[0, -1], "NotEqualsSelf"]
        ],
        "haltOnMatch": true,
        "haltOnSubMatch": true,
        "pieces" : [["ascright", [0, 0]], ["ascrightbit", [0, -5]]]
      },
      //Cases for ascending to the left
      {
        "matchAllPoints" : [
          [[1, -1], "EqualsSelf"],
          [[0, -1], "NotEqualsSelf"]
        ],
        "haltOnMatch": true,
        "haltOnSubMatch": true,
        "pieces" : [["ascleft", [0, 0]], ["ascleftbit", [3, -5]]]
      },
      //Fallback to platform
      {
        "matchAnyPoints" : [
        ],
        "haltOnMatch": true,
        "pieces" : [["platform", [0, 0]]]
      }
    ]]
  ]
}