{
  "invalidWorldTypes": [
    //vanilla, betabound
    "unknown",
    "ancientgateway",
    "moon",
    "barren",

    //fu
    "tabularasa",
    "eden"
  ],

  "generic": [
    "sb_banditattack",
    "sb_cultistattack",
    "sb_ruininvasion",
    "sb_spacepod",
    "sb_dropship",
    "sb_envprobe"
    //  "sb_cultistscandroid" //disabled because they spawn way high up so most people walk past them
  ],

  "wanted": [
    // Wanted level 1
    [],
    // Wanted level 2
    [],
    // Wanted level 3
    ["sb_peacekeeperattack"],
    // Wanted level 4
    ["sb_peacekeeperattack"]
  ],

  "bounty": [
    //    "sb_rivalbountyhunter"
  ],

  "eventCooldown": [480, 1800], //3-600 //180, 900

  "events": {
    // GENERIC
    "sb_banditattack": {
      "location": "questLocation",
      "stagehand": "sb_banditattack",
      "skipChance": 2
    },
    "sb_cultistattack": {
      "location": "questLocation",
      "stagehand": "sb_cultistattack",
      "skipChance": 2
    },
    "sb_ruininvasion": {
      "location": "surface",
      "bounds": [-5, -4.5, 5, 2.5],
      "range": [10, 15],
      "offset": [1, 1],
      "stagehand": "sb_ruininvasion",
      "skipChance": 2
    },
    "sb_spacepod": {
      "location": "surface", //questLocation",
      "stagehand": "sb_spacepod",
      "bounds": [-5, -4.5, 5, 2.5],
      "range": [10, 15],
      "offset": [1, 1],
      "skipChance": 2
    },
    "sb_dropship": {
      "location": "surface",
      "bounds": [-40, 5, 40, 30],
      "range": [10, 15],
      "stagehand": "sb_dropship",
      "offset": [0, 20],
      "skipChance": 3.4
    },
    "sb_envprobe": {
      "location": "screen",
      "bounds": [-5, 5, 5, 10],
      "anchor": "top",
      "stagehand": "sb_envprobe",
      "skipChance": 4
    },
    "sb_cultistscandroid": {
      "location": "screen",
      "bounds": [-5, 5, 5, 10],
      "anchor": "top",
      "stagehand": "sb_cultistscandroid"
    }

    /* WANTED
    "sb_peacekeeperattack" : {
    "location" : "surface",
    "bounds" : [-5, -4.5, 5, 2.5],
    "range" : [10, 15],
    "stagehand" : "sb_peacekeeperattack"
    },

    BOUNTY
    "sb_rivalbountyhunter" : {
    "location" : "surface",
    "bounds" : [-5, -4.5, 5, 2.5],
    "range" : [10, 15],
    "stagehand" : "sb_rivalbountyhunter"
    }*/
  }
}
