{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Burst", "Kill", "Thunder", "Death", "Storm", "Dude", "Strike", "Raid", "Charge", "Thrash", "Rage", "Blast", "Blam", "Cover", "Corpse", "Carrion", "Widow" ],
      [ { "mode" : "alts" }, "rifle", "barrel", "enator", "eriser", "maker", "boy", "sprayer", "pelter", "-Shooter", "razer", "razor", "plugger", "riddler", "killer" ]
    ]
  ]
}
