{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Trusty ", "Deadly ", "Noble ", "Rusty ", "Splintered ", "Watchful ", "Vicious ", "Marksman's ", "Hunter's " ],
      [ { "mode" : "alts" }, "Impaler", "Kingslayer", "Boltflinger", "Guardian", "Perforator", "Deathbringer", "Enforcer", "Persuader" ]
    ]
  ]
}
