{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Furious ", "Vicious ", "Almighty ", "Wild ", "Savage ", "Deadly ", "Ruinous ", "Fatal ", "Baleful " ],
      [ { "mode" : "alts" }, "Firebolt", "Flamespitter", "Afterburner", "Scorcher", "Blaster", "Combustor", "Smiter", "Incinerator", "Pyre" ]
    ]
  ]
}
