{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Experimental ", "High Voltage ", "Nerve-Rending ", "Vindictive ", "Merciless ", "Ruthless ", "Sadistic ", "Mighty ", "Wicked " ],
      [ { "mode" : "alts" }, "Tesla Cannon", "Shocker", "Subjugator", "Suppressor", "Stormbringer", "Boltspitter", "Discharger", "Galvanizer", "Zapper", "Thunderstrike", "Stinger" ]
    ]
  ]
}
