{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Rapid", "Kill", "Hail", "Death", "Storm", "Bro", "Strike", "Burst", "Rattle", "Spray", "Wild", "Pop" ],
      [ { "mode" : "alts" }, "gun", "barrel", "enator", "erizer", "maker", "boy", "shooter", " Uzi", "mac", "spray", "bug" ]
    ]
  ]
}
