{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Pop", "Kill", "Hand", "Spin", "Strike", "Beef", "Zap", "Freeze", "Safety", "Thrash", "Anger", "Blam" ],
      [ { "mode" : "alts" }, "cannon", "barrel", "enator", "erizer", "maker", "boy", "shooter", "pistol", "revolver", "piece" ]
    ]
  ]
}
