{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "The ", "Miss ", "", "Mr ", "Tearing ", "Radical ", "Gnashing ", "Wicked ", "Piercing ", "Sweeping ", "Ol' ", "Lost " ],
      [ { "mode" : "alts" }, "Wound", "Rip", "Vein", "Death", "Storm", "Blood", "Shatter", "Skull", "Break", "Smash", "Thrash", "Blast" ],
      [ { "mode" : "alts" }, "stick", "barrel", "enator", "erizer", "maker", "girl", "shooter", "shotty", "pumper", "kicker", "ripper", "tearer", "", "wailer", "screamer", "slasher" ]
    ]
  ]
}
