{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "The ", "Miss ", "", "Mr. ", "Holy ", "Beautiful ", "Precious ", "Awesome ", "Wicked ", "Badass " ],
      [ { "mode" : "alts" }, "Boom", "Kill", "Thunder", "Death", "Storm", "Dude", "Strike", "Raid", "Charge", "Thrash", "Rage", "Blast" ],
      [ { "mode" : "alts" }, "stick", "barrel", "enator", "erizer", "maker", "boy", "shooter", "shotty", "pumper", "kicker" ]
    ]
  ]
}
