{
  "animationParts": {
    "blade": "t<t>m.png<directives>",
    "handle": ""
  },
  "primaryAbilityType": "sb_meleeslash2",
  "inventoryIcon": "t<t>m.png<directives>",
  "animation": "/items/active/starbound/weapons/shortsword.animation",
  "elementalType": "physical",
  "tooltipKind": "sb_sword2",
  "aimOffset": 0,
  "category": "shortsword",
  "handGrip": "inside",
  "price": 375
}
