{
  "primaryAbility": {
    "fireTime": 0.725,
    "baseDps": 7.5
  },
  "animationParts": {
    "blade": "t<t>s.png<directives>",
    "handle": ""
  },
  "primaryAbilityType": "sb_meleeslash2",
  "inventoryIcon": "t<t>s.png<directives>",
  "elementalType": "physical",
  "aimOffset": 0,
  "price": 375
}
