{
  "animationCustom": {
    "animatedParts": {
      "parts": {
        "swoosh": {
          "partStates": {
            "swoosh": {
              "fire": {
                "properties": {
                  "image": "swoosh1/<swoosh>.png:<frame>"
                }
              },
              "fire2": {
                "properties": {
                  "image": "swoosh2/<swoosh>.png:<frame>"
                }
              }
            }
          }
        }
      }
    }
  }
}
