{
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "animation": "/items/active/starbound/weapons/shortsword.animation",
  "tooltipKind": "sb_sword2",
  "category": "shortsword",
  "maxStack": 1,
  "aimOffset": 0,
  "handGrip": "inside",

  "rarity": "legendary",
  "level": 0.5,
  "price": 120,
  "inventoryIcon": "t0.png",
  "animationParts": {
    "blade": "t0.png",
    "handle": ""
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_meleeslash2"
}
