{
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "animation": "/items/active/starbound/weapons/shortsword.animation",
  "tooltipKind": "sb_sword2",
  "category": "shortsword",
  "maxStack": 1,
  "aimOffset": 0,
  "handGrip": "inside",
  "sb_dyeable": true,

  "rarity": "common",
  "level": 2,
  "price": 225,
  "directives": "?replace;ffca8a=ccc;e0975c=9e9e9e;a85636=616161;6f2919=383838",
  "inventoryIcon": "t2.png<directives>",
  "animationParts": {
    "blade": "t2.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_meleeslash2"
}
