{
  "fixedRarity": true,
  "scripts": ["/items/active/weapons/melee/meleeweapon.lua"],
  "animation": "/items/active/starbound/weapons/shortsword.animation",
  "tooltipKind": "sb_sword2",
  "category": "shortsword",
  "maxStack": 1,
  "aimOffset": 0,
  "handGrip": "inside",
  "sb_dyeable": true,

  "rarity": "uncommon",
  "level": 4,
  "price": 375,
  "directives": "?replace;ffca8a=9da8af;e0975c=676f83;a85636=3d3d51;6f2919=24232f",
  "inventoryIcon": "t4.png<directives>",
  "animationParts": {
    "blade": "t4.png<directives>",
    "handle": ""
  },
  "elementalType": "physical",
  "primaryAbilityType": "sb_meleeslash2"
}
